{% extends '::insight/base_insight.html.twig' %}
{% block title %}

    {% trans %}Nuevos{% endtrans %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/datepicker.css') }}" rel="stylesheet"/>
    <script src="{{ asset('js/datepicker/jquery-datepicker.js') }}"></script>
    <script src="{{ asset('js/datepicker/jquery.ui.datepicker-es.js') }}"></script>
    <script src="/Symfony/vendor/ob/highcharts-bundle/Ob/HighchartsBundle/Resources/public/js/highcharts/highcharts.js"></script>
    <script src="/Symfony/vendor/ob/highcharts-bundle/Ob/HighchartsBundle/Resources/public/js/highcharts/modules/exporting.js"></script>
{% endblock %}

{% block migas %}
    <p>
        <span class="ml1">{% trans %}Insight>{% endtrans %}</span> > <span class="mlN">{% trans %}
            Dashboard{% endtrans %}</span>
    </p>
{% endblock %}

{% block contenedorPrincipal %}


    <div class="bloque_contenido">

        <div class="cabecera_contenido">
            <span>{% trans %}Nuevos{% endtrans %}</span>
        </div>
        <div class="bloque_contenido sinborde">
            <div class="linea_contenido">
                <label>{% trans %}Compara&nbsp;&nbsp;{% endtrans %}</label>
                <select id="id_categoria" name="id_categoria" class="tam6 izq actualizarTabla">
                    <option value="-1">{% trans %}Seleccione{% endtrans %}</option>
                    <option value="1">{% trans %}Ene-2014{% endtrans %}</option>
                    <option value="2">{% trans %}Feb-2014{% endtrans %}</option>
                    <option value="3">{% trans %}Mar-2014{% endtrans %}</option>
                    <option value="4">{% trans %}Abr-2014{% endtrans %}</option>
                    <option value="5">{% trans %}May-2014{% endtrans %}</option>
                    <option value="6">{% trans %}Jun-2014{% endtrans %}</option>
                    <option value="7">{% trans %}Jul-2014{% endtrans %}</option>
                    <option value="8" selected>{% trans %}Ago-2014{% endtrans %}</option>
                    <option value="9">{% trans %}Sep-2014{% endtrans %}</option>
                    <option value="10">{% trans %}Oct-2014{% endtrans %}</option>
                    <option value="11">{% trans %}Nov-2014{% endtrans %}</option>
                    <option value="12">{% trans %}Dic-2014{% endtrans %}</option>
                </select>
                <label>{% trans %}&nbsp;&nbsp;con&nbsp;&nbsp;{% endtrans %}</label>
                <select id="id_categoria" name="id_categoria" class="tam6 izq actualizarTabla">
                    <option value="-1">{% trans %}Seleccione{% endtrans %}</option>
                    <option value="1">{% trans %}Ene-2014{% endtrans %}</option>
                    <option value="2">{% trans %}Feb-2014{% endtrans %}</option>
                    <option value="3">{% trans %}Mar-2014{% endtrans %}</option>
                    <option value="4">{% trans %}Abr-2014{% endtrans %}</option>
                    <option value="5">{% trans %}May-2014{% endtrans %}</option>
                    <option value="6">{% trans %}Jun-2014{% endtrans %}</option>
                    <option value="7">{% trans %}Jul-2014{% endtrans %}</option>
                    <option value="8">{% trans %}Ago-2014{% endtrans %}</option>
                    <option value="9">{% trans %}Sep-2014{% endtrans %}</option>
                    <option value="10">{% trans %}Oct-2014{% endtrans %}</option>
                    <option value="11">{% trans %}Nov-2014{% endtrans %}</option>
                    <option value="12" selected>{% trans %}Dic-2014{% endtrans %}</option>
                </select>
            </div>
            <div class="bloque_contenido sinborde">

                <table class="tablaSinBordes" style="width: 100%">
                    <tbody>
                    <tr>
                        <td width="25%" class="graficoIzquierda" align="center">
                            <div id="graficoSexos"></div>
                        </td>
                        <td width="25%" class="graficoDerecha" align="center">
                            <div id="graficoSexos2"></div>
                        </td>
                        <td colspan="2" class="graficoDerecha" align="center">
                            <div id="graficoBarrasEdad"></div>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" class="graficoIzquierda" align="center">
                            <div id="graficoCategoria"></div>
                        </td>
                        <td width="25%" class="graficoDerecha" align="center">
                            <div id="graficoCategoria2"></div>
                        </td>
                        <td colspan="2" class="graficoIzquierda" align="center">
                            <div id="graficoBarrasFranjaHoraria"></div>
                        </td>

                    </tr>
                    <tr>
                        <td width="25%" class="graficoIzquierda" align="center">
                            <div id="graficoPOS"></div>
                        </td>
                        <td width="25%" class="graficoDerecha" align="center">
                            <div id="graficoPOS2"></div>
                        </td>
                        <td colspan="2" class="graficoDerecha" align="center">
                            <div id="graficoBarrasDia"></div>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" class="graficoIzquierda" align="center">&nbsp;</td>
                        <td width="25%" class="graficoDerecha" align="center">
                            <div id="graficoGama"></div>
                        </td>
                        <td width="25%" class="graficoDerecha" align="center">
                            <div id="graficoGama2"></div>
                        </td>
                        <td width="25%" class="graficoIzquierda" align="center">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            {% trans %}&nbsp;{% endtrans %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'MM yy',
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
            }
        });
    });

    $(function () {
        $('#graficoBarrasEdad').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Clientes Nuevos por Edades'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    '16-20',
                    '21-25',
                    '26-30',
                    '31-35',
                    '36-40',
                    '41-45',
                    '46-50',
                    '51-55',
                    '56-60',
                    '61-65',
                    '66-70',
                    '71-75',
                    '76-80',
                    '81-85',
                    '86-90',
                    '91-100',
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: {% trans %}'Clientes nuevos'{% endtrans %}
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: '{{ fechaInicial }}',
                data: [23, 12, 20, 21, 24, 28, 35, 50, 46, 45, 38, 34, 20, 10, 2, 0]
            }, {
                name: '{{ fechaFinal }}',
                data: [16, 12, 22, 24, 26, 31, 34, 48, 46, 42, 35, 37, 25, 6, 0, 0]
            }]
        });
    });

    $(function () {
        $('#graficoBarrasFranjaHoraria').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Clientes Nuevos por Franja Horaria'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    '8:00-9:00',
                    '9:00-10:00',
                    '10:00-11:00',
                    '11:00-12:00',
                    '12:00-13:00',
                    '13:00-14:00',
                    '14:00-15:00',
                    '15:00-16:00',
                    '16:00-17:00',
                    '17:00-18:00',
                    '18:00-19:00',
                    '19:00-20:00',
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: {% trans %}'Clientes nuevos'{% endtrans %}
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },

            series: [{
                name: '{{ fechaInicial }}',
                data: [16, 12, 22, 24, 26, 31, 34, 48, 46, 42, 35]
            }, {
                name: '{{ fechaFinal }}',
                data: [26, 12, 20, 21, 24, 28, 35, 50, 46, 38, 34]
            }]
        });
    });

    $(function () {
        $('#graficoBarrasDia').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Clientes Nuevos por dias'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Lunes-Jueves',
                    'Viernes',
                    'Fin de semana',
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: {% trans %}'Clientes nuevos'{% endtrans %}
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:percentage.1f}%</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },

            series: [{
                name: '{{ fechaInicial }}',
                data: [50, 22, 28,]
            }, {
                name: '{{ fechaFinal }}',
                data: [47, 24, 29]
            }]
        });
    });

    $(function () {

        $(document).ready(function () {

            // Build the chart
            $('#graficoCategoria').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '{{'Clientes nuevos por Categorias - '~ fechaInicial }}',
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Clientes nuevos por Categorias',
                    data: [
                        ['Alimentacion Seca', 45],
                        ['Consumibles', 26],
                        ['Frescos', 8],
                        ['No alimentacion', 64],
                        ['Refrigerados', 70],
                        ['Servicios', 72],
                        ['Socio-Cliente', 34],
                    ]
                }]
            });
        });

    });

    $(function () {

        $(document).ready(function () {

            // Build the chart
            $('#graficoCategoria2').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '{{'Clientes nuevos por Categorias - '~ fechaFinal }}',
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Clientes nuevos por Categorias',
                    data: [
                        ['Alimentacion Seca', 34],
                        ['Consumibles', 37],
                        ['Frescos', 15],
                        ['No alimentacion', 73],
                        ['Refrigerados', 45],
                        ['Servicios', 12],
                        ['Socio-Cliente', 25],
                    ]
                }]
            });
        });

    });


    $(function () {

        $(document).ready(function () {

            // Build the chart
            $('#graficoPOS').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '{{'Clientes nuevos por Tipo Punto de Venta - '~fechaInicial }}',
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Clientes nuevos por Tipo Punto de Venta',
                    data: [
                        ['Retailing', 830],
                        ['Supermercado', 1950],
                        ['Otros', 420]
                    ]
                }]
            });
        });

    });


    $(function () {

        $(document).ready(function () {

            // Build the chart
            $('#graficoPOS2').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '{{'Clientes nuevos por Tipo Punto de Venta - '~ fechaFinal }}',
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Clientes nuevos por Tipo Punto de Venta',
                    data: [
                        ['Retailing', 725],
                        ['Supermercado', 2412],
                        ['Otros', 514],
                    ]
                }]
            });
        });

    });


    $(function () {

        $(document).ready(function () {

            // Build the chart
            $('#graficoGama').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '{{'Clientes nuevos por Gama - '~ fechaInicial }}',
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Clientes nuevos por Gama',
                    data: [
                        ['Premium', 23],
                        ['Estandar', 78],
                        ['Basico', 124],
                    ]
                }]
            });
        });

    });

    $(function () {

        $(document).ready(function () {

            // Build the chart
            $('#graficoGama2').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '{{'Clientes nuevos por Gama - '~ fechaFinal }}',
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Clientes nuevos por Gama',
                    data: [
                        ['Premium', 25],
                        ['Estandar', 73],
                        ['Basico', 142],
                    ]
                }]
            });
        });

    });


    $(function () {

        $(document).ready(function () {

            // Build the chart
            $('#graficoSexos2').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Clientes nuevos por Sexo - Dic-2014'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Clientes nuevos por Sexo2',
                    data: [
                        ['Mujer', 68],
                        ['Hombre', 32],
                    ]
                }]
            });
        });

    });

    $(function () {

        $(document).ready(function () {

            // Build the chart
            $('#graficoSexos').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Clientes nuevos por Sexo - Ago-2014'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Clientes nuevos por Sexo',
                    data: [
                        ['Mujer', 63],
                        ['Hombre', 37],
                    ]
                }]
            });
        });

    });


    </script>
{% endblock %}
