{% extends '::insight/base_insight.html.twig' %}
{% block title %}

    {% trans %}Clientes{% endtrans %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/datepicker.css') }}" rel="stylesheet"/>
    <script src="{{ asset('js/datepicker/jquery-datepicker.js') }}"></script>
    <script src="{{ asset('js/datepicker/jquery.ui.datepicker-es.js') }}"></script>
    <script src="/Symfony/vendor/ob/highcharts-bundle/Ob/HighchartsBundle/Resources/public/js/highcharts/highcharts.js"></script>
    <script src="/Symfony/vendor/ob/highcharts-bundle/Ob/HighchartsBundle/Resources/public/js/highcharts/modules/exporting.js"></script>
{% endblock %}

{% block migas %}
    <p>
        <span class="ml1">{% trans %}Insight>{% endtrans %}</span> > <span class="mlN">{% trans %}
            Dashboard{% endtrans %}</span>
    </p>
{% endblock %}

{% block contenedorPrincipal %}

    <div class="bloque_mensajes">
        <div id="control_mensajes" class="control_mensajes">
            {% include '::logMensajes.html.twig' %}
        </div>
    </div>

    <div class="bloque_contenido">

    <div class="cabecera_contenido">
        <span>{% trans %}Clientes{% endtrans %}</span>
    </div>
    <div class="bloque_contenido sinborde">
    <div class="linea_contenido">
        <label>{% trans %}Compara&nbsp;&nbsp;{% endtrans %}</label>
        <select id="id_categoria" name="id_categoria" class="tam6 izq actualizarTabla">
            <option value="-1">{% trans %}Seleccione{% endtrans %}</option>
            <option value="1">{% trans %}Ene-2014{% endtrans %}</option>
            <option value="2">{% trans %}Feb-2014{% endtrans %}</option>
            <option value="3">{% trans %}Mar-2014{% endtrans %}</option>
            <option value="4">{% trans %}Abr-2014{% endtrans %}</option>
            <option value="5">{% trans %}May-2014{% endtrans %}</option>
            <option value="6">{% trans %}Jun-2014{% endtrans %}</option>
            <option value="7">{% trans %}Jul-2014{% endtrans %}</option>
            <option value="8" selected>{% trans %}Ago-2014{% endtrans %}</option>
            <option value="9">{% trans %}Sep-2014{% endtrans %}</option>
            <option value="10">{% trans %}Oct-2014{% endtrans %}</option>
            <option value="11">{% trans %}Nov-2014{% endtrans %}</option>
            <option value="12">{% trans %}Dic-2014{% endtrans %}</option>
        </select>
        <label>{% trans %}&nbsp;&nbsp;con&nbsp;&nbsp;{% endtrans %}</label>
        <select id="id_categoria" name="id_categoria" class="tam6 izq actualizarTabla">
            <option value="-1">{% trans %}Seleccione{% endtrans %}</option>
            <option value="1">{% trans %}Ene-2014{% endtrans %}</option>
            <option value="2">{% trans %}Feb-2014{% endtrans %}</option>
            <option value="3">{% trans %}Mar-2014{% endtrans %}</option>
            <option value="4">{% trans %}Abr-2014{% endtrans %}</option>
            <option value="5">{% trans %}May-2014{% endtrans %}</option>
            <option value="6">{% trans %}Jun-2014{% endtrans %}</option>
            <option value="7">{% trans %}Jul-2014{% endtrans %}</option>
            <option value="8">{% trans %}Ago-2014{% endtrans %}</option>
            <option value="9">{% trans %}Sep-2014{% endtrans %}</option>
            <option value="10" selected>{% trans %}Oct-2014{% endtrans %}</option>
            <option value="11">{% trans %}Nov-2014{% endtrans %}</option>
            <option value="12">{% trans %}Dic-2014{% endtrans %}</option>
        </select>
    </div>
    <div class="bloque_contenido sinborde">
    <script type="text/javascript">
        {{ chart(grafico_tarta) }}
        {{ chart(grafico_barra) }}
    </script>

    <table class="tablaSinBordes">
        <tbody>
        <tr>
            <td width="50%" align="center">
                <div id="tablaInicial" style="height: 150px; margin: 0 auto">
                    <table class="tablaConBordes">
                        <thead>
                        <tr>
                            <th style="text-align: center;">{% trans %}&nbsp;{% endtrans %}</th>
                            <th style="text-align: center;">{{ fecha1 }}</th>
                            <th style="text-align: center;">{{ fecha2 }}</th>
                            <th style="text-align: center;">{% trans %}&nbsp;{% endtrans %}</th>
                        </tr>
                        </thead>
                        {% for d in data %}
                            <tr>
                                <td style="text-align: center;" width="25%">

                                    {{ d[0] }}
                                </td>
                                <td style="text-align: center;" width="25%">
                                    {% if  d[1] ends with '%' %}
                                        {{ d[1] }}
                                    {% else %}
                                        {{ d[1] }}{% trans %}&euro;{% endtrans %}
                                    {% endif %}
                                </td>
                                <td style="text-align: center;" width="25%">
                                    {% if  d[2] ends with '%' %}
                                        {{ d[2] }}
                                    {% else %}
                                        {{ d[2] }}{% trans %}&euro;{% endtrans %}
                                    {% endif %}
                                </td>
                                {% if d[3] > 0 %}
                                    <td style="text-align: center;" width="8%">
                                        {{ d[3] }}{% trans %}%&nbsp;{% endtrans %}<img style="float:right;"
                                                                                       src="{{ asset('img/arrowup.png') }}"
                                                                                       alt="{{ 'Mejora' | trans }}"
                                                                                       title="{{ 'Mejora' | trans }}"/>
                                    </td>
                                {% elseif d[3] < 0 %}
                                    <td style="text-align: center;" width="8%">
                                        {{ d[3] }}{% trans %}%&nbsp;{% endtrans %}<img style="float:right;"
                                                                                       src="{{ asset('img/arrowdown.png') }}"
                                                                                       alt="{{ 'Mejora' | trans }}"
                                                                                       title="{{ 'Mejora' | trans }}"/>
                                    </td>
                                {% else %}
                                    <td style="text-align: center;" width="8%">
                                        {{ d[3] }}{% trans %}%{% endtrans %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </td>
            <td width="50%" class="graficoDerecha" align="center">
                <div id="graficoTarta" style="height: 300px; margin: 0 auto"></div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <div id="graficoBarras" style="height: 300px; margin: 0 auto"></div>
            </td>
        </tr>
        <tr>
            <td>
                {% trans %}&nbsp;{% endtrans %}
            </td>
        </tr>
        </tbody>
    </table>
    <table class="tablaSinBordes">
        <tbody>
        <tr>
            <td width="20%" align="center">
                <div id="tablaNuevosMiembros" style="height: 150px; margin: 0 auto">
                    <table>
                        <thead>
                        <tr>
                            <th style="text-align: center;">{% trans %}Mes{% endtrans %}</th>
                            <th style="text-align: center;">{% trans %}N&uacute;mero Miembros{% endtrans %}</th>
                            <th style="text-align: center;">{% trans %}%{% endtrans %}</th>
                        </tr>
                        </thead>
                        {% for fecha, count in countMiembros %}
                        <tr>
                            <td style="text-align: center;" width="45%">
                                {{ fecha }}
                            </td>
                            <td style="text-align: center;" width="30%">
                                {{ count }}
                            </td>
                            {% endfor %}
                            {% if diferenciales['difMiembros'] > 0 %}
                                <td style="text-align: center;" width="25%">
                                {{ diferenciales['difMiembros'] }}{% trans %}%&nbsp;{% endtrans %}<img
                                style="float:right;" src="{{ asset('img/arrowup.png') }}" alt="{{ 'Mejora' | trans }}"
                                title="{{ 'Mejora' | trans }}" />
                            {% elseif diferenciales['difMiembros'] < 0 %}
                                <td style="text-align: center;" width="25%">
                                    {{ diferenciales['difMiembros'] }}{% trans %}%&nbsp;{% endtrans %}<img
                                            style="float:right;" src="{{ asset('img/arrowdown.png') }}"
                                            alt="{{ 'Mejora' | trans }}" title="{{ 'Mejora' | trans }}"/>
                                </td>
                            {% else %}
                                <td style="text-align: center;" width="25%">
                                    {{ diferenciales['difMiembros'] }}{% trans %}%{% endtrans %}
                                </td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
            </td>
            <td width="20%" style="text-align: center;">
                <div id="tablaRecencia" style="height: 150px; margin: 0 auto">
                    <table>
                        <thead>
                        <tr>
                            <th style="text-align: center;">{% trans %}Mes{% endtrans %}</th>
                            <th style="text-align: center;">{% trans %}Recencia (d&iacute;as){% endtrans %}</th>
                            <th style="text-align: center;">{% trans %}%{% endtrans %}</th>
                        </tr>
                        </thead>
                        {% for fecha, count in recenciaDias %}
                        <tr>
                            <td style="text-align: center;" width="45%">
                                {{ fecha }}
                            </td>
                            {# 										#}
                            <td style="text-align: center;" width="30%">
                                {{ count }}
                            </td>
                            {% endfor %}
                            {% if diferenciales['difRecencia'] > 0 %}
                                <td style="text-align: center;" width="25%">
                                    {{ diferenciales['difRecencia'] }}{% trans %}%&nbsp;{% endtrans %}<img
                                            style="float:right;" src="{{ asset('img/arrowup.png') }}"
                                            alt="{{ 'Mejora' | trans }}" title="{{ 'Mejora' | trans }}"/>
                                </td>
                            {% elseif diferenciales['difRecencia'] < 0 %}
                                <td style="text-align: center;" width="25%">
                                    {{ diferenciales['difRecencia'] }}{% trans %}%&nbsp;{% endtrans %}<img
                                            style="float:right;" src="{{ asset('img/arrowdown.png') }}"
                                            alt="{{ 'Mejora' | trans }}" title="{{ 'Mejora' | trans }}"/>
                                </td>
                            {% else %}
                                <td style="text-align: center;" width="25%">
                                    {{ diferenciales['difRecencia'] }}{% trans %}%{% endtrans %}
                                </td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
            </td>
            <td width="20%" style="text-align: center;">
                <div id="tablaFrecuenciaMes" style="height: 150px; margin: 0 auto">
                    <table>
                        <thead>
                        <tr>
                            <th style="text-align: center;">{% trans %}Mes{% endtrans %}</th>
                            <th style="text-align: center;">{% trans %}Frecuencia Contribuciones{% endtrans %}</th>
                            <th style="text-align: center;">{% trans %}%{% endtrans %}</th>
                        </tr>
                        </thead>
                        {% for fecha, count in frecuenciaMes %}
                        <tr>
                            <td style="text-align: center;" width="45%">
                                {{ fecha }}
                            </td>
                            {# 										#}
                            <td style="text-align: center;" width="30%">
                                {{ count }}
                            </td>
                            {% endfor %}
                            {% if diferenciales['difFrecuencia'] > 0 %}
                                <td style="text-align: center;" width="25%">
                                    {{ diferenciales['difFrecuencia'] }}{% trans %}%{% endtrans %}<img
                                            style="float:right;" src="{{ asset('img/arrowup.png') }}"
                                            alt="{{ 'Mejora' | trans }}" title="{{ 'Mejora' | trans }}"/>
                                </td>
                            {% elseif diferenciales['difFrecuencia'] < 0 %}
                                <td style="text-align: center;" width="25%">
                                    {{ diferenciales['difFrecuencia'] }}{% trans %}%{% endtrans %}<img
                                            style="float:right;" src="{{ asset('img/arrowdown.png') }}"
                                            alt="{{ 'Mejora' | trans }}" title="{{ 'Mejora' | trans }}"/>
                                </td>
                            {% else %}
                                <td style="text-align: center;" width="25%">
                                    {{ diferenciales['difFrecuencia'] }}{% trans %}%{% endtrans %}
                                </td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
            </td>
            <td width="20%" style="text-align: center;">
                <div id="tablaTicketMedio" style="height: 150px; margin: 0 auto">
                    <table>
                        <thead>
                        <tr>
                            <th style="text-align: center;">{% trans %}Mes{% endtrans %}</th>
                            <th style="text-align: center;">{% trans %}Ticket Medio{% endtrans %}</th>
                            <th style="text-align: center;">{% trans %}%{% endtrans %}</th>
                        </tr>
                        </thead>
                        {% for fecha, count in ticketMedio %}
                        <tr>
                            <td style="text-align: center;" width="45%">
                                {{ fecha }}
                            </td>
                            {# 										#}
                            <td style="text-align: center;" width="30%">
                                {{ count }}
                            </td>
                            {% endfor %}
                            {% if diferenciales['difTicket'] > 0 %}
                                <td style="text-align: center;" width="25%">
                                    {{ diferenciales['difTicket'] }}{% trans %}%{% endtrans %}<img style="float:right;"
                                                                                                   src="{{ asset('img/arrowup.png') }}"
                                                                                                   alt="{{ 'Mejora' | trans }}"
                                                                                                   title="{{ 'Mejora' | trans }}"/>
                                </td>
                            {% elseif diferenciales['difTicket'] < 0 %}
                                <td style="text-align: center;" width="25%">
                                    {{ diferenciales['difTicket'] }}{% trans %}%{% endtrans %}<img style="float:right;"
                                                                                                   src="{{ asset('img/arrowdown.png') }}"
                                                                                                   alt="{{ 'Mejora' | trans }}"
                                                                                                   title="{{ 'Mejora' | trans }}"/>
                                </td>
                            {% else %}
                                <td style="text-align: center;" width="25%">
                                    {{ diferenciales['difTicket'] }}{% trans %}%{% endtrans %}
                                </td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
            </td>
            <td width="20%" style="text-align: center;">
                <div id="tablaAmplitudCategorias" style="height: 150px; margin: 0 auto">
                    <table>
                        <thead>
                        <tr>
                            <th style="text-align: center;">{% trans %}Mes{% endtrans %}</th>
                            <th style="text-align: center;">{% trans %}Amplitud categor&iacute;as{% endtrans %}</th>
                            <th style="text-align: center;">{% trans %}%{% endtrans %}</th>
                        </tr>
                        </thead>
                        {% for fecha, count in amplitudCategorias %}
                        <tr>
                            <td style="text-align: center;" width="45%">
                                {{ fecha }}
                            </td>
                            {# 										#}
                            <td style="text-align: center;" width="30%">
                                {{ count }}
                            </td>
                            {% endfor %}
                            {% if diferenciales['difAmplitud'] > 0 %}
                                <td style="text-align: center;" width="25%">
                                    {{ diferenciales['difAmplitud'] }}{% trans %}%{% endtrans %}<img
                                            style="float:right;" src="{{ asset('img/arrowup.png') }}"
                                            alt="{{ 'Mejora' | trans }}" title="{{ 'Mejora' | trans }}"/>
                                </td>
                            {% elseif diferenciales['difAmplitud'] < 0 %}
                                <td style="text-align: center;" width="25%">
                                    {{ diferenciales['difAmplitud'] }}{% trans %}%{% endtrans %}<img
                                            style="float:right;" src="{{ asset('img/arrowdown.png') }}"
                                            alt="{{ 'Mejora' | trans }}" title="{{ 'Mejora' | trans }}"/>
                                </td>
                            {% else %}
                                <td style="text-align: center;" width="25%">
                                    {{ diferenciales['difAmplitud'] }}{% trans %}%{% endtrans %}
                                </td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
    </div>

    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('.date-picker').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                onClose: function (dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1));
                }
            });
        });

        $(function () {
            $('#graficoBarras').highcharts({
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: 'Contribuciones mensuales Vs. Miembros'
                },
                subtitle: {
                    text: ''
                },
                xAxis: [{
                    categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                        'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
                }],
                yAxis: [{ // Primary yAxis
                    labels: {
                        format: '{value}',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    title: {
                        text: 'Numero de miembros',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    }
                }, { // Secondary yAxis
                    title: {
                        text: '% Contribuciones',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    labels: {
                        format: '{value}%',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    opposite: true
                }],
                tooltip: {
                    shared: true
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    x: 120,
                    verticalAlign: 'top',
                    y: 100,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                series: [{
                    name: '% Contribuciones',
                    type: 'column',
                    yAxis: 1,
                    data: [8, 7, 3, 7, 12, 7, 10, 11, 5, 7, 9, 13],
                    tooltip: {
                        valueSuffix: '%'
                    }

                }, {
                    name: 'Miembros',
                    type: 'spline',
                    data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            });
        });
    </script>
{% endblock %}
