<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html {
            font-size: 100%;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            box-sizing: border-box;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        *, *:before, *:after {
            box-sizing: inherit;
        }

        .section {
            background-color: #29506D;
            padding: 50px;
            color: white;
            margin: 10px 0;
            display: block;
            padding: 20px
        }

        .slot {
            background-color: #1b3548;
            padding: 30px;
            color: white;
            font-size: 18px;
            margin: 10px 0;
            text-align: center;
        }
    </style>
</head>
<body>
{% set gruposSlots = plantilla.getGruposSlots %}
{% for grupoSlots in gruposSlots %}
    {# Los grupos de slots solo tienen un slot configurado #}
    <div class="section" id="{{ grupoSlots.idGrupo }}" data-name="{{ grupoSlots.nombre }}">
        {{- grupoSlots.nombre -}}
        {% if grupoSlots.tipo is constant('CREATIVIDADES', grupoSlots) %}
            {% set slots = grupoSlots.slots %}
            {% for slot in slots %}
                <div class="slot" id="{{ grupoSlots.idGrupo~'-'~slot.codigo }}">{{ grupoSlots.idGrupo~'-'~slot.codigo }}
                    {% if grupoSlots.mImgProducto %}
                        <img src="" width="{{ grupoSlots.idTamanyoImgProducto.ancho }}"
                             height="{{ grupoSlots.idTamanyoImgProducto.alto }}" class="imagenProducto"
                             alt="ImagenCreatividad"/>
                    {% endif %}
                    {% if grupoSlots.mTexto %}
                        <p class="texto"></p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            {% set slots = grupoSlots.slots %}
            {% for slot in slots %}
                <div class="slot" id="{{ grupoSlots.idGrupo~'-'~slot.codigo }}"
                     data-id="{{ slot.idSlot }}">{{ grupoSlots.idGrupo~'-'~slot.codigo }}
                    {% if grupoSlots.mImgProducto %}
                        <img src="" width="{{ grupoSlots.idTamanyoImgProducto.ancho }}"
                             height="{{ grupoSlots.idTamanyoImgProducto.alto }}" class="imagenProducto"
                             alt="ImagenProducto"/>
                    {% endif %}

                    {% if grupoSlots.mPrecio %}
                        <span class="precio"></span>
                    {% endif %}

                    {% if grupoSlots.mVolumen %}
                        <span class="volumen"></span>
                    {% endif %}

                    {% if grupoSlots.mCondiciones %}
                        <p class="condiciones"></p>
                    {% endif %}

                    {% if grupoSlots.mImgMarca %}
                        <img src="" width="{{ grupoSlots.idTamanyoImgMarca.ancho }}"
                             height="{{ grupoSlots.idTamanyoImgMarca.alto }}" class="imagenMarca" alt="ImagenMarca"/>
                    {% endif %}

                    {% if grupoSlots.mTexto %}
                        <p class="texto"></p>
                    {% endif %}

                    {% if grupoSlots.mVoucher %}
                        <p class="voucher"></p>
                    {% endif %}

                    {% if grupoSlots.mFidelizacion %}
                        <p class="fidelizacion"></p>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endfor %}
</body>
</html>
