{% extends '::data/base_data.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/paginate.css') }}" rel="stylesheet"/>
{% endblock %}


{% block title %}
    {{ "menu.data.sociodemografico" | trans|title }}
{% endblock %}

{% block migas %}
    <li><a href="{{ path('data_basic_nivelCategoria') }}"> <span class="iconfa-home"></span></a> <span
                class="separator"></span></li>
    <li>{{ "menu.data.modo_avanzado"|trans }} <span class="separator"></span></li>
    <li>{{ "menu.data.sociodemografico" |trans |title }}</li>
{% endblock %}

{% block pagetitle %}
    <h5>{{ "variables" |trans|upper }}</h5>
    <h1>{{ "menu.data.sociodemografico" |trans |title }}</h1>
{% endblock %}

{% block contenedorPrincipal %}

    {{ include ('RMLinealesBundle:Default:bloqueBusquedaFormulario.html.twig') }}

    <h4 class="widgettitle">{{ "variables" | trans | upper }}</h4>
    <table id="tablaSegmentosVT" class="table table-bordered responsive">
        <colgroup>
            <col class="con0" style="align: center; width: 50%">
            <col class="con1">
            <col class="con0">
            <col class="con1">
            <col class="con0">
            <col class="con1">
            <col class="con0">
        </colgroup>
        <thead>
        <tr>
            <th>{{ "variable" | trans }}</th>
            <th>{{ "descripcion" | trans }}</th>
        </tr>
        </thead>
        <tbody>

        {% if variables | length  == 0 %}
            <tr>
                <td colspan="4">
                    {{ "sin.resultados" | trans }}
                </td>
            </tr>
        {% else %}
            {% for variable in variables %}
                <tr>
                    <td>
                        <a href="{{ path('data_informacion_variable', {'idVariable': variable.id }) }}">
                            {{ variable.nombre }}
                        </a>
                    </td>
                    <td>{{ variable.descripcion }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <div class="navigation wrapper">
        {{ knp_pagination_render(variables) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#page").val("1");
            $(document).on("click", ".paginate ul li a", function (event) {
                event.preventDefault(); //cancela el comportamiento por defecto
                $("#page").val(getURLVar($(this).attr("href"), "page"));
                $("#form").submit();
            });
        });
    </script>
{% endblock %}