<<<<<<< HEAD
<div id="formulario_segmento_comunicacion" class="form-center">
=======
<div id="formulario_segmento_comunicacion">
>>>>>>> cb48d9a796bf2536a8def9fa7ee65d0887e61228
    {{ form_start(form, {'attr': {'class':'form-horizontal'} }) }}

    <fieldset>
        <legend>{{ "datos" |trans|title }}</legend>
        <div class="control-group">
            {{ form_label(form.variable_ciclo_vida, null, {'label_attr': {'class':'control-label'} }) }}
            <div class="controls">
                {{ form_widget(form.variable_ciclo_vida) }}
            </div>
        </div>
        {% if form.idSegmento is defined %}
            <div class="control-group">
                {{ form_label(form.idSegmento, null, {'label_attr': {'class':'control-label' }}) }}
                <div class="controls">
                    {{ form_widget(form.idSegmento) }}
                </div>
            </div>
        {% endif %}

        <div class="control-group {% if form.fecInicio.vars.errors is not empty %}error{% endif %}">
            {{ form_label(form.fecInicio,  null,{'label_attr': {'class':'control-label' }}) }}
            <div class="controls">
                {{ form_widget(form.fecInicio) }}
                {% if form.fecInicio.vars.errors is not empty %}
<<<<<<< HEAD
                    <span class="help-inline">
                        {% for error in form.fecInicio.vars.errors %}
                            {{ error.message }}
                           {% if not loop.last %} <br/> {% endif %}
                        {% endfor %}</span>
=======
                    <span class="help-inline">{{ form_errors(form.fecInicio) }}</span>
>>>>>>> cb48d9a796bf2536a8def9fa7ee65d0887e61228
                {% endif %}
            </div>
        </div>

        <div class="control-group {% if not form.fecFin.vars.valid %}error{% endif %}">
            {{ form_label(form.fecFin, null, {'label_attr': {'class':'control-label' }}) }}
            <div class="controls">
                {{ form_widget(form.fecFin) }}
                {% if form.fecFin.vars.errors is not empty %}
                    <span class="help-inline">{% for error in form.fecFin.vars.errors %} {{ error.message }} {% endfor %}</span>
                {% endif %}
            </div>
        </div>
<<<<<<< HEAD

        <div class="control-group">
            {{ form_label(form.estado, null,{'label_attr': {'class':'control-label' }} ) }}
            <div class="controls">
                {{ form_widget(form.estado)  }}
            </div>
        </div>
=======
>>>>>>> cb48d9a796bf2536a8def9fa7ee65d0887e61228
    </fieldset>

    <fieldset>
        <legend>{{ "frecuencia" |trans|title }}</legend>
        <div class="control-group">
            {{ form_label(form.tipo,  null,{'label_attr': {'class':'control-label' }}) }}
            <div class="controls">
                {{ form_widget(form.tipo) }}
            </div>
        </div>

        {% if form.mes is defined %}
            <div class="control-group">
                {{ form_label(form.mes,  null,{'label_attr': {'class':'control-label' }}) }}
                <div class="controls">
                    {{ form_widget(form.mes) }}
                </div>
            </div>
        {% endif %}

        {% if form.dia is defined %}
            <div class="control-group">
                {{ form_label(form.dia,  null, {'label_attr': {'class':'control-label' }}) }}
                <div class="controls">
                    {{ form_widget(form.dia) }}
                </div>
            </div>
        {% endif %}

        <div class="control-group">
            {{ form_label(form.horaProg,  null, {'label_attr': {'class':'control-label' }}) }}
            <div class="controls">
                {{ form_widget(form.horaProg) }}
            </div>
        </div>

    </fieldset>
<<<<<<< HEAD
    <div class="control-group">
        <div class="controls">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    </div>

=======
>>>>>>> cb48d9a796bf2536a8def9fa7ee65d0887e61228
    {{ form_end(form) }}
</div>