<h4 class="widgettitle">{{ "cabecera.segmento.periodicidad" |trans|title }}</h4>
<table class="table table-bordered responsive">
    <colgroup>
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
    </colgroup>
    <thead>
    <tr>
        <th>{{ "segmento" |trans|title }}</th>
        <th>{{ "frecuencia" |trans|title }}</th>
        <th>{{ "fecha.final" |trans|title }}</th>
        <th>{{ "fecha.final" |trans|title }}</th>
        <th>{{ "estado" |trans|title }}</th>
        <th>{{ "fecha.proxima.ejecucion" |trans|title }}</th>
        <th>{{ "controles" |trans|title }}</th>
    </tr>
    </thead>
    <tbody>
    {% for segmento in segmentos %}
        <tr>
            {{ include('@RMComunicacion/Edicion/filaSegmentoComunicacion.html.twig') }}
        </tr>
    {% endfor %}
    </tbody>
</table>