<form id="formSegmentos" name="form" method="get" action="{{ path('data_info_segmentos') }}">
    <input type="hidden" id="fecha_busqueda" name="fecha_busqueda" value="{{ fecha_busqueda|date('Y-m-d') }}"/>

    <h4 class="widgettitle">{{ "cabecera.criterios.busqueda"|trans }}</h4>
    <div class="mediamgr_left">
        <div class="mediamgr_head">
            <ul class="mediamgr_menu">
                <li>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="300">
                                <label for="tipo">{{ "tipo" | trans }}</label>
                                <select id="tipo" name="tipo" class="tam6 izq actualizarSegmentos">
                                    <option value="-1">{{ "select.todas" | trans }}</option>
                                    {% if objTipos is defined %}
                                        {% for tipo in objTipos %}
                                            <option value="{{ tipo.codigo }}" {% if app.request.get('tipo') == tipo.codigo %}selected{% endif %}>
                                                {{ tipo.nombre }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </td>
                            <td width="300">
                                <label for="variables">{{ "variables" |trans|title}}</label>
                                <select name="variables" id="variables">
                                    <option value="-1">{{ "select.todas" |trans|title}}</option>
                                </select>
                            </td>
                            <td width="300" id="clasificacion">
                                <label for="id_categoria">{{ "categoria" | trans }}</label>
                                <select id="id_categoria" name="id_categoria" class="tam6 izq actualizarSegmentos">
                                    <option value="-1" selected>{{ "select.todas" | trans }}</option>
                                    {% for objCategoria in objCategorias %}
                                        <option value="{{ objCategoria.idCategoria }}" {% if app.request.get('id_categoria') == objCategoria.idCategoria  %} selected {% endif %}>
                                            {{ objCategoria.nombre }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <button id="botonBuscarSegmentos" class="btn btn-primary">{{ "boton.buscar" |trans|title}}</button>
                            </td>
                        </tr>
                    </table>
                </li>

            </ul>

            <br/><br/>
            <table id="tablaSegmentos"  class="table table-bordered">
                <colgroup>
                    <col class="con0">
                    <col class="con1">
                    <col class="con0">
                    <col class="con1">
                    <col class="con0">
                    <col class="con1">
                </colgroup>
                <thead>
                <tr>
                    <th>{{ "" | trans }}</th>
                    <th>{{ "segmento" | trans|title }}</th>
                    <th>{{ "categoria" | trans|title }}</th>
                    <th>{{ "marca" | trans|title }}</th>
                    <th>{{ "proveedor" | trans|title }}</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <span class="clearall"></span>
    </div>
</form>

<script>
    $(document).ready(function(){
        $('#tipo').on('change', function(event){
            event.preventDefault();
            var tipo = this[this.selectedIndex].value;
            $.get('{{ path('segmento_default_obetener_variables') }}', {'tipo': tipo})
                    .success(function(data){
                        console.log(data);

                        if(typeof data === 'undefined') {
                            return;
                        }

                        var $variables = $('#variables');
                        $variables.find('option').remove();

                        $variables.append(new Option('{{ 'select.todas'|trans|title }}', -1));

                        data.forEach(function(variable){
                            $variables.append(new Option(variable.nombre, variable.id));
                        });

                        $variables
                                .removeAttr('class')
                                .addClass('fadeIn animated')
                                .one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                                    $variables.removeAttr('class');
                                });

                        $('#clasificacion').html('');
                    });

        });

        $('#variables').on('change', function(event){
            event.preventDefault();
            var tipo = $('#tipo').val();
            var idVariable  = $(this).val();

            $.get('{{ path('segmento_default_selectsclasificacion') }}', {'tipo': tipo, id: idVariable})
                    .success(function(data){
                        var $clasificacion = $('#clasificacion');
                        $clasificacion.html(data);
                        $clasificacion
                                .removeAttr('class')
                                .addClass('fadeIn animated')
                                .one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                                    $clasificacion.removeAttr('class');
                                });
                    });

        });

        $('#botonBuscarSegmentos').click(function(event){
            event.preventDefault();
            tabla.ajax.reload();
        });

        var tabla = $('#tablaSegmentos').DataTable({
            "pageLength": 4,
            "responsive" : true,
            "deferRender": true,
            language: {
                url: '{{ asset('js/DataTables/Plugins/i18n/Spanish.lang') }}'
            },
            ajax: {
                url: '{{ path('data_info_segmentos') }}',
                type: $('#formSegmentos').attr('method'),
                data: function ( d ) {

                    var data = $('#formSegmentos').serializeArray().reduce(function(obj, item) {
                        obj[item.name] = item.value;
                        return obj;
                    }, {});

                    console.log(data);

                    return $.extend({}, d, data);
                },
                dataSrc: function(json) {
                    json = json.data;
                    for ( var i=0, ien=json.length ; i<ien ; i++ ) {
                        json[i]['link'] = '<button data-id=\''+ json[i].cClave +'\'class="btn btn-default" onclick=\'addConsola("'+ json[i].nombre +'", event);\'> <i class="icon-ok-sign"></i></button>';
                    }
                     console.log(json);
                    return json;
                }
            },
            columns: [
                {data: 'link'},
                {data: 'nombre'},
                {
                    data: 'categoria',
                    "render": function ( data, type, full, meta ) {
                        return data||'-';
                    }
                },
                {
                    data: 'marca',
                    "render": function ( data, type, full, meta ) {
                        return data||'-';
                    }
                },
                {
                    data: 'proveedor',
                    "render": function ( data, type, full, meta ) {
                        return data||'-';
                    }
                }
            ]
        });
    });
</script>