{% extends 'RMProductoBundle:Default:baseConfig.html.twig' %}

{% set opcionMenuTabConfig = 2 %}

{% block title %}
    {{ "editar" | trans|title }} {{ "plantilla"|trans|title }}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li>{{ "plantillas"|trans|title }} <span class="separator"></span></li>
    <li>{{ "editar" | trans|title }} {{ "plantilla"|trans|title }}</li>
{% endblock %}

{% block tabcontent %}

    <div class="row-fluid">
        <div class="span1 offset11">
            <button class="btn btn-primary"
                    onclick="javascript:window.location.href='{{ path('rm_plantilla_plantilla_modelo_index') }}';">
                {{ "boton.volver"|trans }}
            </button>
        </div>
    </div>


    {{ form_start(edit_form) }}
    <h4 class="widgettitle">{{ "datos"|trans|title }}</h4>
    <div class="mediamgr_head">
        <table class="table responsive">
            <tbody>
            <tr>
                <td class="sinborde">{{ form_label(edit_form.nombre, 'nombre' | trans) }}</td>
                <td class="sinborde">
                    {{ form_widget(edit_form.nombre, { 'attr': { 'class': 'tam150' } }) }}
                </td>
                <td class="sinborde">{{ form_label(edit_form.canal, 'canal' | trans) }}</td>
                <td class="sinborde">
                    {{ form_widget(edit_form.canal, { 'attr': { 'class': 'tam150' } }) }}
                </td>
            </tr>
            <tr>
                <td class="sinborde">{{ form_label(edit_form.descripcion, 'descripcion' | trans) }}</td>
                <td class="sinborde" colspan="3">
                    {{ form_widget(edit_form.descripcion, { 'attr': { 'class': 'tam600' } }) }}
                </td>
            </tr>

            </tbody>
        </table>
        <div>{{ form_errors(edit_form) }}</div>
    </div>
    <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td>
                {{ form_widget(edit_form.submit , {'attr': {'class': 'btn btn-primary'}, 'label': 'boton.guardar'|trans|title }) }}
            </td>
        </tr>
        </tbody>
    </table>
    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}

    {# <div class="pull-right">
        {{ form_start(delete_form) }}
        {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-danger'}, 'label':'boton.eliminar.plantilla'|trans|title}) }}
        {{ form_end(delete_form) }}
    </div>#}

    <div class="row">
        <div class="span12"></div>
    </div>

    <!-- Grupos de slots -->

    {{ render(controller('RMPlantillaBundle:GrupoSlotsModelo:index', { 'idPlantilla': plantilla.idPlantilla, 'editable' : plantilla.editable })) }}


{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btonBorrarGrupo').on("click", function (e) {
                e.preventDefault(); //cancela el comportamiento por defecto
                var existe = 0;
                $(".selTodos:checked").each(function () {
                    existe = 1;
                    var cur_val = $('#elementosBorrar').val();
                    if (cur_val)
                        $('#elementosBorrar').val(cur_val + "," + this.value);
                    else
                        $('#elementosBorrar').val(this.value);
                });

                if (existe == 0) {
                    alert("Debe de elegir al menos un registro");
                }
                else {
                    if (confirm("¿Desea eliminar los registros seleccionados?")) {
                        var formulario = $('#borrarGrupos');
                        formulario.submit();
                    }
                    else {
                        $('#elementosBorrar').val("");
                    }
                }
            });

            $('#checkTodos').on("click", function () {
                if ($("#checkTodos").is(':checked')) {
                    $('.selTodos').prop("checked", true);

                } else {
                    $('.selTodos').prop("checked", false);
                }
            });
        });
    </script>
{% endblock %}