<h4 class="widgettitle">{{ "creatividades" |trans|title}}</h4>
<table class="table table-bordered responsive">
    <colgroup>
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
    </colgroup>
    <thead>
    <tr>
        <th width="5%">&nbsp;</th>
        <th width="30%">{{ "nombre" | trans }}</th>
        <th width="30%">{{ "descripcion" | trans }}</th>
        <th width="35%">{{ "imagen" | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if objCreatividades == null %}
        <tr>
            <td colspan="30">
                {{ "sin.resultados" | trans }}
            </td>
        </tr>
    {% else %}
        {% set ruta_creatividad = app.user.cliente ~ '/imagenesCreatividad/' %}
        {% for objCreatividad in objCreatividades %}
            <tr>
                <td>
                    <button class="btn btn-default " style="cursor: pointer"
                            onclick="asocCreatividad('{{ objCreatividad.idCreatividad }}', '{{ objCreatividad.nombre }}');"
                            title="{{ "select.seleccione" | trans }}"> < </button>
                </td>
                <td>{{ objCreatividad.nombre }}</td>
                <td>{{ objCreatividad.descripcion }}</td>
                <td>
                    {# Se comprueba que la imagen existe para poder pintarla con respecto a los formatos disponibles #}
                    {% set imagen = ruta_creatividad ~ objCreatividad.imagen %}
                    {% if objCreatividad.imagen is not null and file_exists(imagen)  %}
                        <img src="{{ asset(imagen) }}?v={{ random(500) }}" width="100px" height="100px"/>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
<div class="pagination">
    {{ simple_paginator_render(
        'direct_config_listado_creatividad_paginador', null,
        {
        'routeParams' : {'nombre': nombre},
        'container_class' : '',
        'first_disabled': 'disabled',
        'currentClass': 'active',
        'firstEnabledClass': '',
        'firstDisableClass': 'disabled',
        'previousPageText' : 'paginador.anterior'|trans,
        'previousEnabledClass' : '',
        'previousDisabledClass' : 'disabled',
        'nextPageText' : 'paginador.siguiente'|trans,
        'nextEnabledClass': '',
        'nextDisabledClass': 'disabled',
        'lastEnabledClass': '',
        'lastDisabledClass' : 'disabled'
        }
        )
    }}
</div>
