{% extends 'RMProductoBundle:Default:baseConfig.html.twig' %}

{% set opcionMenuTabConfig = 4 %}

{% block title %}
    {{ parent() }} - {{ "creatividades" | trans|title }}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li>{{ "creatividades" | trans|title }}</li>
{% endblock %}

{% block tabcontent %}
    <div class="mediamgr_left">
        <div class="mediamgr_head">
            <form id="busqueda" name="form" class="form-search">
                <ul class="mediamgr_menu">
                    <li>
                        <div class="input-append">
                            <input id="nombre" value="{{ nombre|default('') }}" name="nombre" type="search" class="span2 search-query" placeholder="{{ "nombre" |trans|title}}">
                            <button type="submit" class="btn">{{ "boton.buscar" |trans|title }}</button>
                        </div>
                    </li>
                    <li class="right newfilebtn">
                        <a class="btn btn-success" data-toggle="modal" data-target="#modal-creatividad"
                           href="{{ path('rm_comunicacion.creatividad.new') }}">
                            {{ "boton.nuevo" | trans }}
                        </a>
                    </li>
                </ul>

            </form>
        </div>
    </div>

    {% include 'RMComunicacionBundle:Creatividad:listadoCreatividad.html.twig' %}


    {% include 'modal/bootstrap_modal.html.twig' with {
    'id': 'modal-creatividad',
    'title': 'creatividad'|trans|title
    } %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">


        $(document).ready(function () {

            $('#busqueda').on('submit', function(event){
                var e = event || window.event;
                e.preventDefault();
                actualizarRegistros();
            })

            function actualizarRegistros() {
                var msg = $("#busqueda").serialize();
                {% set crearUrl = path('rm_comunicacion.creatividad.index') %}
                var myUrl = '{{crearUrl}}';
                $.ajax({
                    type: "POST",
                    url: myUrl,
                    data: msg,
                    complete: function (objeto, exito) {
                        if (exito == "success") {
                            $('#tablaListado').children().remove();
                            $('#tablaListado').append(objeto.responseText);
                        }
                    },
                    error: function (objeto, quepaso, otroobj) {
                    }
                });
            }
        });
    </script>
{% endblock %}