<div id="tablaListado">
    <h4 class="widgettitle">{{ "creatividades" |trans|title }}</h4>
    <table class="table table-bordered responsive">
        <colgroup>
            <col class="con0" style="align: center;">
            <col class="con1" style="align: center; ">
            <col class="con0" style="align: center; ">
            <col class="con1" style="align: center; ">
            <col class="con0">
            <col class="con1">
        </colgroup>
        <thead>
        <tr>
            <th>{{ "nombre" | trans }}</th>
            <th>{{ "descripcion" | trans }}</th>
            <th>{{ "imagen" | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% if objCreatividades == null %}
            <tr>
                <td colspan="30">
                    {{ "sin.resultados" | trans }}
                </td>
            </tr>
        {% else %}
            {% set ruta_creatividades = app.user.cliente ~ '/' ~ imagenes_creatividad %}
            {% for objCreatividad in objCreatividades %}
                <tr data-creatividad="{{ objCreatividad.idCreatividad }}">
                    <td>
                        <a data-toggle="modal" data-target="#modal-creatividad"
                           href="{{ path('rm_comunicacion.creatividad.edit', {'id': objCreatividad.idCreatividad}) }}">{{ objCreatividad.nombre }}</a>
                    </td>
                    <td>{{ objCreatividad.descripcion }}</td>
                    <td>
                        {% set imagenUrl = ruta_creatividades ~ objCreatividad.imagen %}
                        {% if objCreatividad.imagen is not null and file_exists(imagenUrl) %}
                            <a class="image-link" href="{{ asset(imagenUrl, absolute=true) }}?v={{ random(500) }}">
                                <img src="{{ asset(imagenUrl, absolute=true) }}?v={{ random(500) }}" width="100px"/>
                            </a>

                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <div class="row-fluid">
        <div class="span12">
            <div class="pagination pagination-centered">
                {{ simple_paginator_render('rm_comunicacion.creatividad.index', null, {
                'routeParams' : {'nombre': nombre|default('')},
                'container_class' : '',
                'first_disabled': 'disabled',
                'currentClass': 'active',
                'firstEnabledClass': '',
                'firstDisableClass': 'disabled',
                'firstPageText' : '<<' ~ 'paginador.primera'|trans,
                'previousPageText' : 'paginador.anterior'|trans,
                'previousEnabledClass' : '',
                'previousDisabledClass' : 'disabled',
                'nextPageText' : 'paginador.siguiente'|trans,
                'nextEnabledClass': '',
                'nextDisabledClass': 'disabled',
                'lastEnabledClass': '',
                'lastDisabledClass' : 'disabled',
                'lastPageText' : "paginador.ultima"|trans ~ '>>'
                }) }}
            </div>
        </div>
    </div>
</div>

