{% extends 'RMComunicacionBundle:Edicion:baseEdicion.html.twig' %}

{% set id_comunicacion = comunicacion.idComunicacion %}
{% set objComunicacion = comunicacion %}
{% set opcionMenuTabComunicacion = 3 %}
{% set idOpcionMenuIzq =1 %}

{% block title %}
    {{ parent() }} - {{ "plantilla" | trans|title }}
{% endblock %}

{% block tabcontent %}
    {% set es_editable = plantilla.editable %}
    {% set generada = comunicacion.generada %}

    {#<div class="row-fluid">
        <div class="span1 offset11">
            <button class="btn btn-primary" onclick="javascript:window.location.href='{{ path('rm_plantilla_plantilla_modelo_index') }}';">
                {{ "boton.volver"|trans }}
            </button>
        </div>
    </div>#}

    <h4 class="widgettitle">{{ "cabecera.acciones.plantilla"|trans|title }}</h4>
    <div class="mediamgr_head">

        <div class="row-fluid">
            <div class="span6">

                <div class="btn-group">
                    <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="iconfa-cogs"></i> {{ "boton.acciones" |trans|title}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('direct_manager_edit_plantillas_descargar', {'id_comunicacion': id_comunicacion}) }}">
                                <i class="iconfa-download"></i> {{ "boton.descargar" | trans }}
                            </a>
                        </li>
                        <li>
                            <a onClick="previsualizarPlantilla()">
                                <i class="iconfa-eye-open"></i> {{ "boton.previsualizar.plantilla" | trans }}
                            </a>

                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('rm_plantilla.default.generar_y_descargar', {'id_comunicacion': id_comunicacion}) }}">
                                <i class="iconfa-repeat"></i> {{ "boton.generar.descargar.plantilla" |trans}}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a  href="{{ path('rm_plantilla.default.descargar_instrucciones_maquetacion') }}">
                                <i class="iconfa-book"></i> {{ 'boton.descargar.instrucciones.maquetacion.plantilla'|trans }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span6">
                <button class="btn btn-primary pull-right"
                        onClick="importarPlantilla();">
                    <i class="iconfa-arrow-down"></i>&nbsp;&nbsp;{{ "boton.importar.plantilla" | trans }}
                </button>

                {% if plantilla.esModelo and not comunicacion.generada %}
                    <a class="btn btn-success pull-right" href="{{ path('rm_comunicacion.comunicacion.asigna_nueva_plantilla', {'id_comunicacion': id_comunicacion}) }}">
                        <i class="iconfa-retweet"></i> {{ 'boton.nueva.plantilla'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span5">
                <form name="form1" id="form1" class="form-inline"
                      action="{{ path('direct_manager_edit_plantillas_upload', {'id_comunicacion': id_comunicacion}) }}"
                      method="post" enctype="multipart/form-data">
                    <label for="fichero">
                        {{ "subir.plantilla.maquetada" | trans|title }}
                    </label>
                    <input id="fichero" name="fichero" type="file">
                    <button class="btn btn-primary" type="submit">{{ "boton.subir" | trans }}</button>
                </form>
            </div>
        </div>



        {% for error in app.session.flashBag.get('errores_plantilla') %}
        <div class="alert alert-warning">
            <p>{{ error|raw }}</p>
        </div>
        {% endfor %}

    </div>

    {% if not plantilla.editable or plantilla.esModelo %}
        <div class="alert alert-warning alert-block fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Warning!</h4>

            {% if plantilla.esModelo %}
                Está utilizando una plantilla modelo que no es posible editar.
            {% elseif not plantilla.editable %}
                Esta plantilla está siendo utilizada por comunicaciones activas y no se puede editar.
            {% endif %}
        </div>
    {% endif %}


    {{ render(controller('RMPlantillaBundle:GrupoSlots:index', {
        'idPlantilla': plantilla.idPlantilla,
        'idComunicacion': comunicacion.idComunicacion
    })) }}

    {% if  not plantilla.esModelo %}
        <br/>
        <br/>
        <div class="row-fluid">
            <div class="span3">
                <button class="btn btn-primary"
                        onClick="exportarPlantilla();">
                    <i class="iconfa-share"></i>&nbsp;&nbsp;{{ "boton.exportar.plantilla" | trans }}
                </button>
            </div>
        </div>
    {% endif %}

    <div id="iframe-modal" class="modal hide fade" style="height: 80%; width: 960px; margin-left: 0; transform: translateX(-50%) ">
        <div class="modal-body" style="height: 90%; max-height: 90%; overflow-y: hidden">
            <iframe src="" frameborder="0" style="width: 100%; max-width: 100%; height: 100%"></iframe>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).on('ready', function(){
            {% for error in app.session.flashBag.get('error_popup') %}
                jQuery.alerts.dialogClass = 'alert-danger';
                jAlert('{{ error }}','Error');
            {% endfor %}
        });

        function importarPlantilla() {
            var largo = 550;
            var altura = 450;
            var top = (screen.height - altura) / 2;
            var izquierda = (screen.width - largo) / 2;
            {% set nombreVentana = "Importar Plantilla" %}
            {% set crearUrl = url('direct_manager_edit_plantillas_importar', {'id_canal': objComunicacion.getIdCanal().getIdCanal(), 'id_comunicacion': id_comunicacion}) %}
            var myUrl = '{{crearUrl}}';
            var nomVentana = '{{ nombreVentana }}';
            window.open(myUrl, nomVentana, "width=" + largo + ",height=" + altura + ",top=" + top + ",left=" + izquierda);
        }

        function exportarPlantilla() {
            var largo = 550;
            var altura = 450;
            var top = (screen.height - altura) / 2;
            var izquierda = (screen.width - largo) / 2;
            {% set nombreVentana = "Exportar Plantilla" %}
            {% set crearUrl = url('direct_manager_edit_plantillas_exportar', {'id_canal': objComunicacion.getIdCanal().getIdCanal(), 'id_comunicacion': id_comunicacion}) %}
            var myUrl = '{{crearUrl}}';
            var nomVentana = '{{ nombreVentana }}';
            window.open(myUrl, nomVentana, "width=" + largo + ",height=" + altura + ",top=" + top + ",left=" + izquierda);
        }

        function previsualizarPlantilla() {
            {% set crearUrl = url('direct_manager_previsualizar_plantilla', {'id_comunicacion': id_comunicacion}) %}
            var $modal = $('#iframe-modal');
            $modal.find('iframe').attr('src', '{{ crearUrl }}');
            $modal.modal({show: true});
            return false;

            var largo = 550;
            var altura = 450;
            var top = (screen.height - altura) / 2;
            var izquierda = (screen.width - largo) / 2;
            {% set nombreVentana = "Previsualizar Plantilla" %}


            var myUrl = '{{crearUrl}}';
            var nomVentana = '{{ nombreVentana }}';
            window.open(myUrl, nomVentana, "width=" + largo + ",height=" + altura + ",top=" + top + ",left=" + izquierda + ',scrollbars=1');

        }


        function subirPlantilla() {
            file = $('#fichero').val();
            extArray = new Array(".html");
            allowSubmit = false;

            if (!file) {
                alert("No ha seleccionado ningun fichero");
                return false;
            }
            ;
            while (file.indexOf("\\") != -1) file = file.slice(file.indexOf("\\") + 1);
            ext = file.slice(file.indexOf(".")).toLowerCase();
            for (var i = 0; i < extArray.length; i++) {
                if (extArray[i] == ext) {
                    allowSubmit = true;
                    break;
                }
            }
            if (allowSubmit) {
                //Se comprueba el tamaña del fichero subido, una vez comprobado que es de extensión html
                //1048576 = 1M
                var tamMega = 1048576;
                var tamFile = tamMega * 5; //5 Megas
                var fic = document.getElementById('fichero');
                if (fic.files != undefined) {
                    if (fic.files[0].size > tamFile) {
                        alert("El tamaño del fichero es demasiado grande.");
                        return false;
                    }
                }
                else {
                    $('#form1').submit();
                }
            }
            else {
                alert("Usted sólo puede subir archivos con extensiones " + (extArray.join(" ")) + "\nPor favor seleccione un nuevo archivo");
                return false;
            }
        }

        $(document).ready(function () {
            $('#btonBorrarGrupo').on("click", function (e) {
                e.preventDefault(); //cancela el comportamiento por defecto
                var existe = 0;
                $(".selTodos:checked").each(function () {
                    existe = 1;
                    var cur_val = $('#elementosBorrar').val();
                    if (cur_val)
                        $('#elementosBorrar').val(cur_val + "," + this.value);
                    else
                        $('#elementosBorrar').val(this.value);
                });

                if (existe == 0) {
                    alert("Debe de elegir al menos un registro");
                }
                else {
                    if (confirm("¿Desea eliminar los registros seleccionados?")) {
                        $("#borrarGrupos").submit();
                    }
                    else {
                        $('#elementosBorrar').val("");
                    }
                }
            });

            $('#checkTodos').on("click", function () {
                if ($("#checkTodos").is(':checked')) {
                    $('.selTodos').prop("checked", true);

                } else {
                    $('.selTodos').prop("checked", false);
                }
            });

        });
    </script>
{% endblock %}