<h4 class="widgettitle">{{ "plantillas"|trans}}</h4>
<table class="table table-bordered responsive">
    <colgroup>
        <col class="con0" style="align: center; width: 4%">
        <col class="con1">
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
    </colgroup>
    <thead>
    <tr>
        <th ><input type="checkbox" id="checkTodos" /></th>
        <th>{{ "nombre" | trans }}</th>
        <th>{{ "descripcion" | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for objPl in plantillas %}
        <tr>
            <td><input class="selTodos" type="checkbox" value="{{ objPl.idPlantilla }}"/></td>
            <td>
                <a href="{{ path('rm_plantilla_plantilla_modelo_edit', {'id': objPl.idPlantilla}) }}" style="cursor:pointer;">{{ objPl.nombre }}</a>
            </td>
            <td>{{ objPl.descripcion }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">
                {{ "sin.resultados" | trans }}
            </td>
        </tr>
    {% endfor %}
</table>
