{% extends 'RMInsightBundle:Default:index.html.twig' %}
{% block title %}

    {{ "menu.insight.evolucion" |trans|title }}
{% endblock %}



{% block migas %}
    <li><a href="{{ path('rm_insight_homepage') }}"> <span class="iconfa-home"></span></a> <span
                class="separator"></span></li>
    <li>{{ "menu.insight.evolucion" |trans|title }}</li>
{% endblock %}

{% block pagetitle %}
    <h5>{{ "menu.insight.clientes" |trans|title }}</h5>
    <h1>{{ "menu.insight.evolucion" |trans|title }}</h1>
{% endblock pagetitle %}

{% block comparativa %}

    <h4 class="widgettitle">{{ "datos" |trans|title }}</h4>
    <div class="mediamgr_head">
        <ul class="mediamgr_menu">
            <li>
                <label for="">{{ "numero.clientes" |trans|title }}</label>
                <input type="text" value="154.000" readonly/>
            </li>
            <li>&nbsp;&nbsp;&nbsp;</li>
            <li>
                <label for="">{{ "ventas" |trans|title }}</label>
                <input type="text" value="1.254.059"/>
            </li>
        </ul>
    </div>

    <h4 class="widgettitle">{{ "comparativa" |trans|title }}</h4>
    <div class="mediamgr_head">
    <table class="table">
    <tbody>
    <tr>
    <td width="50%" class="graficoIzquierda" align="center">
    <div id="graficoTarta" width="50%">
    <div id="tablaRendimiento">

    <table class="table table-bordered responsive">
    <colgroup>
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
    </colgroup>
    <thead>
    <tr>
        <th style="text-align: center;" width="8%">{% trans %}&nbsp;{% endtrans %}</th>
        <th style="text-align: center;" width="4%">{% trans %}&nbsp;{% endtrans %}</th>
        <th style="text-align: center;" width="7%">{% trans %}Segmentos{% endtrans %}</th>
        <th colspan="2" style="text-align: center;" width="12%">{% trans %}N&uacute;mero
            Clientes{% endtrans %}</th>
        <th colspan="2" style="text-align: center;" width="12%">{% trans %}Media
            Ventas{% endtrans %}</th>
        <th colspan="2" style="text-align: center;" width="12%">{% trans %}Frecuencia
            Media{% endtrans %}</th>
        <th colspan="2" style="text-align: center;" width="12%">{% trans %}Ticket
            Medio{% endtrans %}</th>
        <th colspan="2" style="text-align: center;" width="12%">{% trans %}Recencia
            Media{% endtrans %}</th>
        <th colspan="2" style="text-align: center;" width="14%">{% trans %}Amplitud
            Media{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for count in rendimiento %}
        <tr>
            <td rowspan="2" class="vertical-center" width="7%">
                <div style="vertical-align: middle;">
                    {% if count[0] == "Nuevos" %}
                        <span style="vertical-align: middle; display: inline-block;">
												{{ count[0] }}
												</span>
                    {% elseif count[0] == "Activos" %}
                        <span style="vertical-align: middle; display: inline-block;">
													{{ count[0] }}
												</span>
                    {% elseif count[0] == "Inactivos" %}
                        {{ count[0] }}
                    {% endif %}
                </div>
            </td>
            <td rowspan="2" class="vertical-center" width="2%">
                {% if count[0] == "Nuevos" %}
                    <a href="{{ path("rm_insight_cliente_new") }}">
                        <img style="float:center; display: inline-block;" class="info"
                             src="{{ asset('img/icono_info.png') }}"
                             alt="{{ 'Nuevos' | trans }}" title="{{ 'Nuevos' | trans }}"/>
                    </a>
                {% elseif count[0] == "Activos" %}
                    <a href="{{ path("rm_insight_cliente_activo") }}">
                        <img style="float:center; display: inline-block;" class="info"
                             src="{{ asset('img/icono_info.png') }}"
                             alt="{{ 'Activos' | trans }}" title="{{ 'Activos' | trans }}"/>
                    </a>
                {% elseif count[0] == "Inactivos" %}
                    <a href="">
                        <img style="float:center; display: inline-block;" class="info"
                             src="{{ asset('img/icono_info.png') }}"
                             alt="{{ 'Inactivos' | trans }}"
                             title="{{ 'Inactivos' | trans }}"/>
                    </a>
                {% endif %}
            </td>
            <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                {{ count[1] }}
            </td>
            <td style="text-align: center;" width="7%">
                {{ count[2] }}
            </td>
            {% if count[4] > 0 %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    <img src="{{ asset('img/arrowup.png') }}"
                         alt="{{ 'Proyeccion' | trans }}"
                         title="{{ 'Proyeccion' | trans }}"/>{{ count[4] }}{% trans %}%&nbsp;&nbsp;{% endtrans %}
                </td>
            {% elseif count[4] < 0 %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    {{ count[4] }}{% trans %}%&nbsp;&nbsp;{% endtrans %}<img
                            src="{{ asset('img/arrowdown.png') }}"
                            alt="{{ 'Proyeccion' | trans }}"
                            title="{{ 'Proyeccion' | trans }}"/>
                </td>
            {% else %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    {{ count[4] }}{% trans %}%{% endtrans %}
                </td>
            {% endif %}
            <td style="text-align: center;" width="7%">
                {{ count[5] }}
            </td>
            {% if count[7] > 0 %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    <img src="{{ asset('img/arrowup.png') }}"
                         alt="{{ 'Proyeccion' | trans }}"
                         title="{{ 'Proyeccion' | trans }}"/>{{ count[7] }}{% trans %}%&nbsp;&nbsp;{% endtrans %}
                </td>
            {% elseif count[7] < 0 %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    {{ count[7] }}{% trans %}%&nbsp;&nbsp;{% endtrans %}<img
                            src="{{ asset('img/arrowdown.png') }}"
                            alt="{{ 'Proyeccion' | trans }}"
                            title="{{ 'Proyeccion' | trans }}"/>
                </td>
            {% else %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    {{ count[7] }}{% trans %}%{% endtrans %}
                </td>
            {% endif %}
            <td style="text-align: center;" width="7%">
                {{ count[8] }}
            </td>
            {% if count[10] > 0 %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    <img src="{{ asset('img/arrowup.png') }}"
                         alt="{{ 'Proyeccion' | trans }}"
                         title="{{ 'Proyeccion' | trans }}"/>{{ count[10] }}{% trans %}%&nbsp;&nbsp;{% endtrans %}
                </td>
            {% elseif count[10] < 0 %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    {{ count[10] }}{% trans %}%&nbsp;&nbsp;{% endtrans %}<img
                            src="{{ asset('img/arrowdown.png') }}"
                            alt="{{ 'Proyeccion' | trans }}"
                            title="{{ 'Proyeccion' | trans }}"/>
                </td>
            {% else %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    {{ count[10] }}{% trans %}%{% endtrans %}
                </td>
            {% endif %}
            <td style="text-align: center;" width="7%">
                {{ count[11] }}
            </td>
            {% if count[13] > 0 %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    <img src="{{ asset('img/arrowup.png') }}"
                         alt="{{ 'Proyeccion' | trans }}"
                         title="{{ 'Proyeccion' | trans }}"/>{{ count[13] }}{% trans %}%&nbsp;&nbsp;{% endtrans %}
                </td>
            {% elseif count[13] < 0 %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    {{ count[13] }}{% trans %}%&nbsp;&nbsp;{% endtrans %}<img
                            src="{{ asset('img/arrowdown.png') }}"
                            alt="{{ 'Proyeccion' | trans }}"
                            title="{{ 'Proyeccion' | trans }}"/>
                </td>
            {% else %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    {{ count[13] }}{% trans %}%{% endtrans %}
                </td>
            {% endif %}
            <td style="text-align: center;" width="7%">
                {{ count[14] }}
            </td>
            {% if count[16] > 0 %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    <img src="{{ asset('img/arrowup.png') }}"
                         alt="{{ 'Proyeccion' | trans }}"
                         title="{{ 'Proyeccion' | trans }}"/>{{ count[16] }}{% trans %}%&nbsp;&nbsp;{% endtrans %}
                </td>
            {% elseif count[16] < 0 %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    {{ count[16] }}{% trans %}%&nbsp;&nbsp;{% endtrans %}<img
                            src="{{ asset('img/arrowdown.png') }}"
                            alt="{{ 'Proyeccion' | trans }}"
                            title="{{ 'Proyeccion' | trans }}"/>
                </td>
            {% else %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    {{ count[16] }}{% trans %}%{% endtrans %}
                </td>
            {% endif %}
            <td style="text-align: center;" width="7%">
                {{ count[17] }}
            </td>
            {% if count[19] > 0 %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    <img src="{{ asset('img/arrowup.png') }}"
                         alt="{{ 'Proyeccion' | trans }}"
                         title="{{ 'Proyeccion' | trans }}"/>{{ count[19] }}{% trans %}%&nbsp;&nbsp;{% endtrans %}
                </td>
            {% elseif count[19] < 0 %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    {{ count[19] }}{% trans %}%&nbsp;&nbsp;{% endtrans %}<img
                            src="{{ asset('img/arrowdown.png') }}"
                            alt="{{ 'Proyeccion' | trans }}"
                            title="{{ 'Proyeccion' | trans }}"/>
                </td>
            {% else %}
                <td rowspan="2" class="vertical-center" style="text-align: center;" width="7%">
                    {{ count[19] }}{% trans %}%{% endtrans %}
                </td>
            {% endif %}
        </tr>
        <tr>
            <td style="text-align: center;"
                width="7%">
                {{ count[3] }}
            </td>
            <td style="text-align: center; " width="7%">
                {{ count[6] }}
            </td>
            <td style="text-align: center; " width="7%">
                {{ count[9] }}
            </td>
            <td style="text-align: center; " width="7%">
                {{ count[12] }}
            </td>
            <td style="text-align: center; " width="7%">
                {{ count[15] }}
            </td>
            <td style="text-align: center; " width="7%">
                {{ count[18] }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </td>
    <td width="50%" class="graficoDerecha" align="center">
        <div id="graficoBarras" style="height: 300px; margin: 0 auto"></div>
    </td>
    </tr>
    </tbody>
    </table>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('.date-picker').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                onClose: function (dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1));
                }
            });
        });

        $(function () {
            $('#graficoBarras').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Evolucion Segmentos'
                },
                xAxis: {
                    categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May']
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    },
                    stackLabels: {
                        enabled: false,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                legend: {
                    align: 'right',
                    x: -150,
                    verticalAlign: 'top',
                    y: 20,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                    borderColor: '#CCC',
                    borderWidth: 1,
                    shadow: false
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                                textShadow: '0 0 3px black, 0 0 3px black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Inactivo',
                    data: [5, 3, 4, 7, 2]
                }, {
                    name: 'Activo',
                    data: [2, 2, 3, 2, 1]
                }, {
                    name: 'Nuevo',
                    data: [3, 4, 4, 2, 5]
                }]
            });
        });
    </script>
{% endblock %}
