{% extends '::base.html.twig' %}

{% block leftpanel %}

    <div class="leftmenu">
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-header">{{ "menu.data.modo_basico" | trans | upper  }}</li>
            <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "1" %}active{%  endif %}" ><a href="{{ path("data_basic_nivelCategoria") }}"><span class="iconfa-th-list"></span> {{ "menu.data.categorias" | trans  }}</a></li>
            <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "2" %}active{%  endif %}"><a href="{{ path("data_basic_variables") }}"><span class="iconfa-sitemap"></span> {{ "menu.data.segmentos" | trans }}</a></li>
            <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "3" %}active{%  endif %}"><a href="{{ path('data_basic_configuracion') }}"><span class=" iconfa-cogs"></span> {{ "menu.data.configuracion" | trans }}</a></li>
            <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "8" %}active{%  endif %}"><a href="{{ path("data_avanced_cv") }}"><span class="iconfa-retweet"></span> {{ "menu.data.ciclo_vida" | trans }}</a></li>

            <li class="nav-header">{{ "menu.data.modo_avanzado" | trans | upper }}</li>
            <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "4" %}active{%  endif %}"><a href="{{ path('data_avanced_rfm') }}"><span class=" iconfa-bar-chart"></span> RFM</a></li>
            <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "5" %}active{%  endif %}"><a href="{{ path("data_avanced_cp") }}"><span class="iconfa-shopping-cart"></span> {{ "menu.data.compra_productos" | trans }}</a></li>
            <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "6" %}active{%  endif %}"><a href="{{ path('data_avanced_hc') }}"><span class="iconfa-shopping-cart"></span> {{ "menu.data.habitos_compra" | trans }}</a></li>
            <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "7" %}active{%  endif %}"><a href="{{ path('data_avanced_sociodemografico') }}"><span class="iconfa-group"></span>{{ "menu.data.sociodemografico" | trans }}</a></li>
            <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "9" %}active{%  endif %}"><a href="{{ path("data_avanced_ot") }}"><span class="iconfa-tasks"></span>{{ "menu.data.otros" |trans }}</a></li>
            <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "10" %}active{%  endif %}"><a href="{{ path('data_avanced_categorias') }}"><span class="iconfa-th-list"></span> Categorías</a></li>

            <li class="nav-header">{{ "menu.data.procesamiento" | trans | upper  }}</li>
            <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "11" %}active{%  endif %}"><a href="{{ path("data_info_segmentos") }}"><span class="iconfa-sitemap"></span> {{ "menu.data.segmentos" |trans }}</a></li>
        </ul>
    </div><!--leftmenu-->

{% endblock %}

{% block body %}

    {% block contenedorPrincipal %}{% endblock %}

{% endblock %}

