<h4 class="widgettitle">{{ "cabecera.criterios" | trans }}</h4>
{{ form_start(formulario) }}
<div class="mediamgr_left">
    <div class="widgetcontent">
        <table class="table table-bordered" width="100%" border="0" cellspacing="0" cellpadding="0">
            <colgroup>
                <col class="con0 center-all">
                <col class="con1 center-all">
                <col class="con0 center-all">
                <col class="con1 center-all">
                <col class="con0 center-all">
                <col class="con1 center-all">
            </colgroup>
            <thead>
                <tr>
                    <th rowspan="2" class="center-all">{{ "criterio" |trans|title}}</th>
                    <th rowspan="2" class="center-all">{{ "tiempo.referencia" |trans|title}}</th>
                    <th colspan="2" class="center-all">{{ "estacionalidad" |trans|title}}</th>
                </tr>
                <tr>
                    <th class="center-all">{{ "tiempo.referencia.n" |trans|title}}</th>
                    <th class="center-all">{{ "tiempo.referencia.m" |trans|title}}</th>
                </tr>
            </thead>
            <tbody>
            {% for criterio in formulario.criterios %}

                <tr>
                    <td class="center-all">{{ criterio.vars.value.referenciaTemporal|trans }}</td>
                    <td class="center-all">
                        <p>{{ form_widget(criterio.referenciaN, { 'attr': { 'class': 'soloNum' } }) }}</p>
                    </td >
                    <td class="center-all">
                        <p>{{ form_widget(criterio.mesesN, { 'attr': { 'class': 'soloNum' } }) }}</p>
                    </td>
                    <td class="center-all">
                        <p>{{ form_widget(criterio.mesesM, { 'attr': { 'class': 'soloNum' } }) }}</p>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ "sin.resultados"|trans|title }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">{{ "boton.guardar" |trans|capitalize }}</button>
    </div>
</div>
{{ form_rest(formulario) }}
{{ form_end(formulario) }}