{% extends '::direct/base_direct.html.twig' %}

{% block title %}
    {{ "editar"|trans|title }}
{% endblock %}

{% block pagetitle %}
    <h5>{{ "edicion"|trans|upper }}</h5>
    <h1>{{ "comunicacion"|trans|title }} #{{ objComunicacion.nombre|title }}</h1>

{% endblock %}

{% block migas %}
    <li><a href="{{ path('direct_homepage') }}"> <span class="iconfa-home"></span></a> <span class="separator"></span></li>
    <li><a href="{{ path('direct_manager') }}">{{ "menu.direct.gestion"|trans|title }}</a> <span class="separator"></span></li>
    <li>{{ "editar"|trans|title }} <span class="separator"></span></li>
    <li>{{ objComunicacion.nombre |title }}</li>
{% endblock %}

{% block contenedorPrincipal %}

    <div class="row-fluid">
        <div class="span1 offset11">
            <button  class="btn btn-primary pull-right" onClick="location.href='{{ path('direct_manager') }}'; return false;">{{ "listado" | trans|title }}</button>
        </div>
    </div>
    <br/>
    <div class="mediamgr_left">
        <div class="mediamgr_head">
            <span class="clearall"></span>
            <div class="tabbable">
                <ul class="nav nav-tabs buttons-icons">
                    {% if opcionMenuTabComunicacion is defined %}
                        <li id="menuTabCom1" {% if opcionMenuTabComunicacion == 1 %}class="active"{% endif %}>
                            <a href="{{ path('direct_manager_edit_datos', {'idComunicacion': id_comunicacion}) }}">{{ "datos" | trans|title }}</a>
                        </li>

                        <li id="menuTabCom3" {% if opcionMenuTabComunicacion == 3 %}class="active"{% endif %}>
                            <a href="{{ path('rm_comunicacion.comunicacion.editar_plantilla', {'idComunicacion': id_comunicacion}) }}">{{ "plantilla" | trans|title }}</a>
                        </li>
                    {% endif %}
                </ul>

                <div class="tab-content">
                    {% block tabcontent %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}