{% extends 'RMComunicacionBundle:Edicion:baseEdicion.html.twig' %}

{% set idOpcionMenuSup = 1 %}
{% set idOpcionMenuIzq = 1 %}
{% set opcionMenuTabComunicacion = 1 %}


{% block title %}
	{{ parent() }} - {{ "comunicacion"|trans }}
{% endblock %}


{% block tabcontent %}
    {% set cumpleRequisitos = gruposSlots is not null and gruposSlots|length > 0 %}

    <h4 class="widgettitle">{{ "datos"|trans|title }}</h4>
    <form id="form" name="form" method="post" action="{{ path(app.request.attributes.get('_route'), {'idComunicacion': id_comunicacion}) }}">
        {% set accion = "editar" %}
        {{ include ('RMComunicacionBundle:Default:formularioComunicacion.html.twig') }}
    </form>

    
    {% if cumpleRequisitos %}

        {{ render(
            controller('RMComunicacionBundle:SegmentoComunicacion:index',
                {'idComunicacion' : id_comunicacion}
            ))
        }}

    {% else %}
      <div class="alert alert-danger alert-dismissable fade in">
          <button class="close" data-dismiss="alert">&times;</button>
          <p>La plantilla de la comunicacion no tiene configurado ningun grupo de slots, por favor, configure uno antes de continuar 
            <span><a href="{{ path('rm_comunicacion.comunicacion.editar_plantilla', {'idComunicacion': id_comunicacion}) }}">Añadir grupo de Slot</a></span></p>
      </div>  
{% endif %}
    
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function(){
			$( ".datepicker" ).datepicker({ dateFormat: "dd/mm/yy" });
		});
	</script>

{% endblock %}

