<div class="bloque_contenido sinborde">
	<div id="tabs">
        <ul>
        {% if opcionMenuTabComunicacion is defined %}
			<li id="menuTabCom1" {% if opcionMenuTabComunicacion == 1 %}class="selected"{% endif %}>
				<a href="{{ path('direct_manager_edit_datos', {'idComunicacion': id_comunicacion}) }}">{{ "Datos" | trans }}</a>
            </li>
            {#<li id="menuTabCom2" {% if opcionMenuTabComunicacion == 2 %}class="selected"{% endif %}>
				<a href="{{ path('direct_manager_edit_segmentos', {'id_comunicacion': id_comunicacion}) }}">{{ "Segmentos" | trans }}</a>
            </li>#}
            <li id="menuTabCom3" {% if opcionMenuTabComunicacion == 3 %}class="selected"{% endif %}>
				<a href="{{ path('direct_manager_edit_plantillas', {'id_comunicacion': id_comunicacion}) }}">{{ "Plantilla" | trans }}</a>
            </li>
         </ul>
         {% endif %}
    </div>
    <div class="botonNiveles">
    	<button  class="tam4" onClick="location.href='{{ path('direct_manager') }}'; return false;">{{ "Listado" | trans }}</button>
    </div>
</div>