{% extends 'RMDiscretasBundle:Default:index.html.twig' %}

{% block title %}
    {{ objVariable.getNombre() }} - {{ "segmentos" | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
{% endblock stylesheets %}

{% block migas %}
    {{ parent() }}
    <li><span class="separator"></span></li>
    <li>{{ objVariable.getNombre() }} - {{ "segmentos" | trans }}</li>
{% endblock %}

{% block contenedorPrincipal %}
    {# Si existe el objeto,
    es decir, es una coleccion de registros de categorias o de marcas se
    muestra, en caso contrario no hace nada#}
    <div class="row-fluid">
        <div class="span1 offset11">
            {% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "5" %}
                {% set path =  path('data_avanced_cp') %}
            {% else %}
                {% set path =  path('data_avanced_hc') %}
            {% endif %}
            <button class="btn btn-primary pull-right"
                    onclick="window.location.href='{{ path }}'">{{ "boton.volver" |trans }}</button>
        </div>
    </div>


    {% set personalizado = objGrupo.getPersonalizado %}
    <form id="form1" name="form1" method="post" action="{{ path('data_avanced_cp_editar_cambiarClasificacion') }}">
        <h4 class="widgettitle">
            {% if objVariable.getClasificacion() == 1 %} {# Por categoria
				#} <input type="hidden" id="tipoClasificacion" name="tipoClasificacion"
                          value="1"> {{ "categoria" | trans }}
            {% elseif objVariable.getClasificacion() == 2 %} {# Por proveedor #}
                <input type="hidden" id="tipoClasificacion" name="tipoClasificacion"
                       value="2"> {{ "proveedor" | trans }}
            {% elseif objVariable.getClasificacion() == 3 %} {# Por marca #}
                <input type="hidden" id="tipoClasificacion" name="tipoClasificacion"
                       value="3"> {{ "marca" | trans }}
            {% else %}
                {{ "tipo.clasificacion" | trans }}
            {% endif %}
        </h4>

        <input type="hidden" id="id_vid" name="id_vid" value="{{ objVariable.getIdVid() }}">

        <div class="mediamg_left">
            <div class="mediamgr_head">
                <ul class="mediamgr_menu">
                    {% if objClasificacion != NULL %}

                        <li>
                            {% if objVariable.getClasificacion() in [1,3] %}
                                <select id="idClasificacion"
                                        name="idClasificacion" class="">
                                    {% if objVariable.getClasificacion() == 1 %}
                                        {% for clasificacion in objClasificacion %}
                                            <option value="{{ clasificacion.idCategoria }}"
                                                    {% if objGrupo.getIdCategoria().getIdCategoria() == clasificacion.idCategoria %}
                                            selected
                                                    {% endif %}>
                                                {{ clasificacion.nombre }}
                                            </option>
                                        {% endfor %}
                                    {% elseif objVariable.getClasificacion() == 3 %}
                                        {% if objGrupo.idMarca|default(null) is null %}
                                            <option value="-1" selected>{{ "select.seleccione" |trans|title }}</option>
                                        {% endif %}
                                        {% for clasificacion in objClasificacion %}
                                            <option value="{{ clasificacion.idMarca }}"
                                                    {% if objGrupo|default(null) is not null and objGrupo.idMarca|default(null) is not null %}
                                                {% if objGrupo.idMarca.idMarca == clasificacion.idMarca %}
                                                    selected
                                                {% endif %}
                                                    {% endif %}>

                                                {{ clasificacion.nombre }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}

                                </select>
                            {% elseif objVariable.getClasificacion() == 2 %}
                                {% if objGrupo.idProveedor is not null %}
                                    {% set nombreProveedor = objGrupo.idProveedor.nombre %}
                                {% else %}
                                    {% set nombreProveedor = '' %}
                                {% endif %}
                                <label for="proveedores">{{ "menu.insight.proveedores" |trans|title }}</label>
                                <input type="text" id="proveedores" value="{{ nombreProveedor }}"/>
                                <input type="hidden" id="idClasificacion" name="idClasificacion"
                                       value="{{ objGrupo.idProveedor|default(null)? '': objGrupo.idProveedor.idProveedor|default('') }}"/>
                            {% endif %}
                        </li>
                        <li>&nbsp;&nbsp;&nbsp;</li>
                    {% endif %}
                    <li class="center-all">
                        <label for="variablePersonalizada">{{ "personalizado"|trans|capitalize }}</label>
                        <input type="hidden" name="personalizado" value="0"/>
                        <input id="variablePersonalizada" type="checkbox" name="personalizado" value="1"
                                {% if personalizado == 1 %}
                                    checked="checked"
                                {% endif %}
                                />
                    </li>
                </ul>
            </div>
        </div>
    </form>


    {% if objVariable.getSolicitaTiempo != 0 %}
        <form method="post"
                {% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "5" %}
                    action="{{ path('data_avanced_cp_editar_con_grupo', { 'id_vid': objVariable.getIdVid(), 'id_vid_grupo_segmento': objGrupo.getIdVidGrupoSegmento() }) }}"
                {% else %}
                    action="{{ path('data_avanced_hc_editar_con_grupo', { 'id_vid': objVariable.getIdVid(), 'id_vid_grupo_segmento': objGrupo.getIdVidGrupoSegmento() }) }}"
                {% endif %}
                >
            <h4 class="widgettitle">{{ "criterios" | trans|capitalize }}</h4>
            {% if personalizado == 1 %}
                <table class="table table-bordered responsive">
                    <colgroup>
                        <col class="con0" style="align: center; width: 50%">
                        <col class="con1">
                        <col class="con0">
                        <col class="con1">
                        <col class="con0">
                        <col class="con1">
                        <col class="con0">
                    </colgroup>
                    <thead>
                    <tr>
                        {% if objVariable.getSolicitaTiempo() >= constant('SOLICITA_N', objVariable) %}
                            <th>{{ "tiempo.referencia.n" |trans }}</th>
                        {% endif %}
                        {% if objVariable.getSolicitaTiempo() >= constant('SOLICITA_N_M', objVariable) %}
                            <th>{{ "tiempo.referencia.m" |trans }}</th>
                        {% endif %}

                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        {% if objVariable.getSolicitaTiempo() == constant('SOLICITA_N', objVariable) %}
                            <td>
                                {{ form_label(formGrupo.mesesN) }}
                                {{ form_widget(formGrupo.mesesN, { 'attr': { 'class': 'soloNum'} }) }}
                            </td>

                        {% elseif objVariable.getSolicitaTiempo() == constant('SOLICITA_N_M', objVariable) %}
                            <td>
                                {{ form_label(formGrupo.mesesN) }}
                                {{ form_widget(formGrupo.mesesN, { 'attr': { 'class': 'soloNum'} }) }}
                            </td>
                            <td>
                                {{ form_label(formGrupo.mesesM) }}
                                {{ form_widget(formGrupo.mesesM, { 'attr': { 'class': 'soloNum'} }) }}
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td colspan="4" align="center">
                            {{ form_errors(formGrupo) }}
                            {#
                            {% if objVariable.getSolicitaTiempo() >= 1 %}
                                {{ form_errors(formGrupo.mesesN) }}
                            {% endif %}
                            {% if objVariable.getSolicitaTiempo() >= 2 %}
                                {{ form_errors(formGrupo.mesesM) }}
                            {% endif %}
                            #}
                        </td>
                    </tr>
                    </tbody>
                </table>
                {{ form_rest(formGrupo) }}
                <table width="200" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    <tr>
                        <td>
                            <button type="submit" {% if personalizado == 0 %} disabled {% endif %}
                                    class="btn btn-primary">{{ "boton.guardar" | trans }}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% else %}
                <table class="table table-bordered responsive">
                    <colgroup>
                        <col class="con0" style="align: center; width: 50%">
                        <col class="con1">
                        <col class="con0">
                        <col class="con1">
                        <col class="con0">
                        <col class="con1">
                        <col class="con0">
                    </colgroup>
                    <thead>
                    <tr>
                        {% if objVariable.getSolicitaTiempo() >= constant('SOLICITA_N', objVariable) %}
                            <th>{{ "tiempo.referencia.n" |trans }}</th>
                        {% endif %}
                        {% if objVariable.getSolicitaTiempo() >= constant('SOLICITA_N_M', objVariable) %}
                            <th>{{ "tiempo.referencia.m" |trans }}</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% if objVariable.getSolicitaTiempo() == constant('SOLICITA_N', objVariable) %}
                            <td>
                                {{ form_label(formGrupo.referenciaN) }}
                                {{ form_widget(formGrupo.referenciaN, {'attr': {'readonly': 'readonly'} }) }}
                            </td>
                        {% endif %}

                        {% if objVariable.getSolicitaTiempo() == constant('SOLICITA_N_M', objVariable) %}
                            <td>
                                {{ form_label(formGrupo.mesesN) }}
                                {{ form_widget(formGrupo.mesesN, {'attr': {'readonly': 'readonly'} }) }}
                            </td>
                            <td>
                                {{ form_label(formGrupo.mesesM) }}
                                {{ form_widget(formGrupo.mesesM, {'attr': {'readonly': 'readonly'} }) }}
                            </td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            {% endif %}
        </form>
    {% endif %}

    {# FORM CEGADO PARA EVITAR ERRORES#}
    <form id="form2" name="form2" method="post"
          action="{{ path('data_avanced_cp_editar_eliminarGuardarSegmentosAsoc') }}">

        <input type="hidden" id="contSegmentos" name="contSegmentos" value="0">
        <input type="hidden" id="id_vid" name="id_vid" value="{{ objVariable.getIdVid() }}">
        <input type="hidden" id="id_vid_grupo_segmento" name="id_vid_grupo_segmento"
               value="{{ objGrupo.getIdVidGrupoSegmento() }}">

        {#{% if objVariable.getClasificacion() == 1 %}
             <input type="hidden" id="idClasificacion" name="idClasificacion" value="{{ objGrupo.getIdCategoria().getIdCategoria() }}">
         {% elseif objVariable.getClasificacion() == 2 %}
             <input type="hidden" id="idClasificacion" name="idClasificacion" value="{{ objGrupo.getIdMarca().getIdMarca() }}">
         {% else %}
             <input type="hidden" id="idClasificacion" name="idClasificacion" value="-1">
         {% endif %}#}
        <input type="hidden" id="accionEjecutar" name="accionEjecutar" value="">
        <input type="hidden" id="listaSegmentosAEliminar" name="listaSegmentosAEliminar" value="">

        {{ include('RMDiscretasBundle:Ficha:tablaSegmentos.html.twig') }}
    </form>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {

            habilitarSoloNumerosConDecimales();

            $('#btonNuevoSeg').click(function (event) {
                event.preventDefault(); //cancela el comportamiento por defecto
                var cont = Number($('#contSegmentos').val()) + 1;
                $('#contSegmentos').val(cont);
                {% set crearUrl = url('data_avanced_cp_editar_listaSegmentosAsoc', {'idNuevoSeg':'-1'}) %}
                var myUrl = '{{crearUrl}}';
                myUrl = myUrl.replace('-1', cont);
                var msg = "idNuevoSeg=" + cont;
                $.ajax({
                    type: "POST",
                    url: myUrl,
                    data: msg,
                    complete: function (objeto, exito) {
                        if (exito == "success") {
                            $('#capaContenidoSegmentos').append(objeto.responseText);
                            habilitarSoloNumerosConDecimales();
                        }
                    },
                    error: function (objeto, quepaso, otroobj) {
                    }
                });
            });

            $('#btonCopiarSeg').click(function (event) {
                event.preventDefault(); //cancela el comportamiento por defecto
                alert('No disponible');
                var largo = 600;
                var altura = 800;
                var top = (screen.height - altura) / 2;
                var izquierda = (screen.width - largo) / 2;
                {% set nombreVentana = "Copiar segmentos a variables" %}
                {% set crearUrl = url('copiar_segmentos_entre_variables_discretas', {'id_vid': objVariable.getIdVid(), 'id_vid_grupo_segmento': objGrupo.getIdVidGrupoSegmento()}) %}
                var myUrl = '{{crearUrl}}';
                var nomVentana = '{{ nombreVentana }}';
                window.open(myUrl, nomVentana, "width=" + largo + ",height=" + altura + ",top=" + top + ",left=" + izquierda);
            });

            $('#checkTodos').click(function () {
                if ($("#checkTodos").is(':checked')) {
                    $('.elimSeg').prop("checked", true);

                } else {
                    $('.elimSeg').prop("checked", false);
                }
            });

            $('#botonEliminar').click(function (event) {
                event.preventDefault(); //cancela el comportamiento por defecto
                var existe = 0;
                $(".elimSeg:checked").each(function () {
                    existe = 1;
                    var cur_val = $('#listaSegmentosAEliminar').val();
                    if (cur_val)
                        $('#listaSegmentosAEliminar').val(cur_val + "," + this.value);
                    else
                        $('#listaSegmentosAEliminar').val(this.value);
                });

                if (existe == 0) {
                    alert("Debe de elegir al menos un registro");
                }
                else {
                    if (confirm("¿Desea eliminar los registros seleccionados?")) {
                        $('#accionEjecutar').val("eliminar");
                        $('#form2').submit();
                    }
                    else {
                        $('#listaSegmentosAEliminar').val("");
                    }
                }
            });

            $('#variablePersonalizada').change(function () {

                $('#form1').attr("action", "{{ path('data_avanced_cp_editar_actualizarPersonalizado') }} ");

                if (this.checked) {
                    var confirmarPersonalizada = confirm('{{"Se va a generar una configuracion personalizada para la variable. ¿Desea continuar?" | convert_encoding('UTF-8', 'Cp1252')   }}');
                    if (confirmarPersonalizada) {
                        $('#form1').submit();
                    }
                    else {
                        this.checked = !this.checked;
                    }
                }
                else {
                    var mensaje = '{{ "Se va a eliminar la configuracion personalizada de la variable y se le asignara la configuracion global. Desea continuar? " | convert_encoding('UTF-8', 'Cp1252') }}';
                    var confirmarNoPersonalizada = confirm(mensaje);
                    if (confirmarNoPersonalizada) {
                        $('#form1').submit();
                    }
                    else {
                        this.checked = !this.checked;
                    }
                }

            });

            $('#botonGuardar').click(function (event) {
                event.preventDefault(); //cancela el comportamiento por defecto
                $('#accionEjecutar').val("guardar");
                $('#form2').submit();
            });

            $('#botonVolver').click(function (event) {
                event.preventDefault(); //cancela el comportamiento por defecto
                $('#form0').submit();
            });

            $('#idClasificacion').change(function (event) {
                $('#form1').submit();
            });
        });
    </script>

    <script>
        $(function () {

            $("#proveedores").autocomplete({
                source: "{{ path('ajax_proveedores') }}",
                minLength: 2,
                select: function (event, ui) {
                    console.log(ui.item);

                    if (typeof  ui.item.id === 'undefined') {
                        return;
                    }

                    if (typeof ui.item.label === 'undefined') {
                        return;
                    }

                    $('#idClasificacion').val(ui.item.id);
                    $('#idClasificacion').trigger('change');
                }
            });
        });
    </script>
{% endblock %}
