<h4 class="widgettitle">{{ "segmentos" |trans }}</h4>
<table class="table table-bordered responsive">
    <colgroup>
        <col class="con0" style="align: center; width: 3%">
        <col class="con1">
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
        <col class="con0">
    </colgroup>
    <thead>
    <tr>
        <th></th>
        <th>{{ "segmento"  |trans }}</th>
        <th>{{ "condicion" |trans }}</th>
        <th>{{ "percentil" |trans }}</th>
    </tr>
    </thead>
    <tbody>
    <tbody id="capaContenidoSegmentos">
    {% set numSegAct = 0 %}
    {% set idsSegAct = '' %}
    {% for segmento in objSegmentos %}
        <tr>
            <td>
                {% if personalizado is defined and personalizado == 1 and segGlobalDefecto is defined and segGlobalDefecto == 0%}
                    <input class="elimSeg" type="checkbox" name="eliminarSeg" {% if personalizado == 0 %} disabled {% endif %} value="{{ segmento.getIdVidSegmento() }}"/>
                {% endif %}
            </td>
            <td>
                {% if personalizado is defined and personalizado == 1 %}
                <input type="text" name="nomSeg{{ segmento.getIdVidSegmento() }}" class="tamT" value="{{ segmento.nombre }}" /></td>
            {% else %}
                {{ segmento.nombre }}
            {% endif %}
            <td>
                {% if personalizado is defined and personalizado == 1 %}
                    <select name="CondiSeg{{ segmento.getIdVidSegmento() }}" class="tam2">
                        <option value="1" {% if segmento.condicion == "1" %} selected {% endif %}>&lt;</option>
                        <option value="2" {% if segmento.condicion == "2" %} selected {% endif %}>&lt;=</option>
                    </select>
                {% else %}
                    {% if segmento.condicion == "1" %}
                        &lt;
                    {% elseif segmento.condicion == "2" %}
                        &lt;=
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if personalizado is defined and personalizado == 1 %}
                <input type="number" name="perc{{ segmento.getIdVidSegmento() }}" class="tam3 soloNum" value="{{ segmento.pivote }}" /></td>
            {% else %}
                {{ segmento.pivote }}
            {% endif %}
        </tr>
        {% set numSegAct = numSegAct + 1 %}
        {% if  idsSegAct == '' %}
            {% set idsSegAct = segmento.getIdVidSegmento() %}
        {% else %}
            {% set idsSegAct = idsSegAct ~ ',' ~ segmento.getIdVidSegmento() %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>

<table width="300" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        {% if personalizado == 1  %}
            <td><button class="btn btn-success" id="btonNuevoSeg">{{ "boton.nuevo" | trans }}</button></td>
            {% if objSegmentos != NULL %}
                <td><button class="btn btn-warning izq" id="btonCopiarSeg">{{ "boton.copiar" | trans }}</button></td>
            {% endif %}
            <td><button class="btn btn-danger" id="botonEliminar">{{ "boton.eliminar" | trans }}</button></td>
            <td><button class="btn btn-primary" id="botonGuardar">{{ "boton.guardar" | trans }}</button></td>
        {% endif %}
    </tr>
    </tbody>
</table>

	<input type="hidden" id="numSegAct" name="numSegAct" value="{{ numSegAct }}">
	<input type="hidden" id="idsSegAct" name="idsSegAct" value="{{ idsSegAct }}">
	<input type="hidden" id="segGlobalDefecto" name="segGlobalDefecto" value="{{ segGlobalDefecto }}">