{% extends 'RMProductoBundle:Default:baseConfig.html.twig' %}

{% block title %}
    {{ "" |trans|title }}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li>{{ "plantillas"|trans|title }} <span class="separator"></span></li>
    <li>{{ "grupo.slots" |trans|title }}</li>
{% endblock %}

{% block tabcontent %}

    <form id="form" name="form" method="post" action="{{ path("direct_config_plantillas_grupo_slots_guardar") }}">
        <input type="hidden" name="id_plantilla" value="{{ id_plantilla }}">
        {% if accion == "nuevo" %}
            <input type="hidden" name="accion" value="nuevo">
            <input type="hidden" name="id_grupo" value="-1">
        {% elseif accion == "editar" %}
            <input type="hidden" name="accion" value="editar">
            <input type="hidden" name="id_grupo" value="{{ id_grupo }}">
        {% endif %}

        {{ include ('RMPlantillaBundle:Config:formularioGSM.html.twig') }}
    </form>

    {#
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }} #}



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        $(document).ready(function () {
            habilitarSoloNumeros();
        });
    </script>
{% endblock %}
