{% extends '::base.html.twig' %}

{% import '@RMInsight/PorcentajeDiferencia.html.twig' as porcentaje %}

{% block stylesheets %}
    {{ parent() }}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/modules/no-data-to-display.js"></script>
    <script>
        /**
         * Grid-light theme for Highcharts JS
         * @author Torstein Honsi
         */

        Highcharts.theme = {
            chart: {
                backgroundColor: null
            },
            title: {
                style: {
                    fontSize: '16px',
                    textTransform: 'uppercase'
                }
            },
            legend: {
                itemStyle: {
                    fontWeight: 'bold',
                    fontSize: '13px'
                }
            },
            xAxis: {
                gridLineWidth: 1,
                labels: {
                    style: {
                        fontSize: '12px'
                    }
                }
            },
            yAxis: {
                minorTickInterval: 'auto',
                title: {
                    style: {
                        textTransform: 'uppercase'
                    }
                },
                labels: {
                    style: {
                        fontSize: '12px'
                    }
                }
            },
            // General
            background2: '#F0F0EA'

        };

        // Apply the theme
        Highcharts.setOptions(Highcharts.theme);
    </script>
{% endblock %}

{% block leftpanel %}
<div class="leftmenu">
    <ul class="nav nav-tabs nav-stacked">
        <li class="nav-header"> {{ "menu.insight.clientes"|trans }} </li>
        <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "1" %}active{%  endif %}">
            <a href="{{ path("rm_insight_homepage") }}"><span class="iconfa-th-list"></span> {{ "menu.insight.dashboard"|trans }} </a>
        </li>
        <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "2" %}active{%  endif %}">
            <a href="{{ path("rm_insight_performance") }}"><span class="iconfa-lightbulb"></span> {{ "menu.insight.rendimiento"|trans }} </a>
        </li>
        <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "3" %}active{%  endif %}">
            <a href="{{ path("rm_insight_evolution") }}"><span class="iconfa-sitemap"></span> {{ "menu.insight.evolucion"|trans }} </a>
        </li>

        <li class="nav-header"> {{ "menu.insight.categorias"|trans }} </li>
        <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "4" %}active{%  endif %}">
            <a href="{{ path("rm_insight_categoria") }}"><span class="iconfa-th-list"></span> {{ "menu.insight.dashboard"|trans }} </a>
        </li>

        <li class="nav-header"> {{ "menu.insight.campanas"|trans }} </li>
        <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "5" %}active{%  endif %}">
            <a href="{{ path("rm_insight_campaign") }}"><span class="iconfa-th-list"></span> {{ "menu.insight.dashboard"|trans }} </a>
        </li>
        <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "7" %}active{%  endif %}">
            <a href="{{ path("rm_insight_campaign_email_list") }}"><span class="iconfa-envelope-alt"></span> {{ "menu.insight.email"|trans }} </a>
        </li>

        <li class="nav-header"> {{ "menu.insight.proveedores"|trans }} </li>
        <li class="{% if idOpcionMenuIzq is defined and idOpcionMenuIzq == "6" %}active{%  endif %}">
            <a href="{{ path("rm_insight_proveedores") }}"><span class="iconfa-th-list"></span> {{ "menu.insight.dashboard"|trans }} </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block body %}
			{% block contenedorPrincipal %}
                {% set fecha_mes1 = date(mes1)|date('M-Y') %}
                {% set fecha_mes2 = date(mes2)|date('M-Y') %}

                <h4 class="widgettitle">{{ "filtro.busqueda" |trans|title }}</h4>
                <div class="mediamgr_head">
                    <form action="" method="post">
                        <ul class="mediamgr_menu">
                            <li>
                                <label for="fechaDesde">{{ "compara" |trans|title }}: </label>
                                <select name="fecha[desde]" id="fechaDesde">
                                    {% for mes in meses %}
                                        <option value="{{ mes['id'] }}" {{ mes1 == mes['id'] ? 'selected' : '' }}>{{ mes['fecha']|date('M-Y') }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li>
                                <label for="fechaHasta">{{ "compara.con" |trans|title }}:</label>
                                <select name="fecha[hasta]" id="fechaHasta">
                                    {% for mes in meses %}
                                        <option value="{{ mes['id'] }}" {{ mes2 == mes['id'] ? 'selected' : '' }}>{{ mes['fecha']|date('M-Y') }}</option>
                                    {% endfor %}
                                </select>
                            </li>

                            <li class="right">
                                <button type="submit" class="btn btn-primary"
                                        id="botonBuscar">{{ "boton.buscar" |trans|title }}</button>
                            </li>
                        </ul>
                    </form>
                </div>
            {% endblock %}
{% endblock %}

