{% extends '::campaign/base_campaign.html.twig' %}

{% block title %}
    {{ "creatividades" |trans|title}}
{% endblock %}

{% block migas %}
   <li><a href="{{ path('campaign_campanyas') }}"> <span class="iconfa-home"></span></a> <span class="separator"></span></li>
    <li>{{ "creatividades" |trans|title}} <span class="separator"></span></li>
    <li>#{{ "%07d"|format(objInstancia.idInstancia) }}</li>
{% endblock %}
{% block pagetitle %}
    <h5>{{ "creatividad" |trans|upper }}</h5>
    <h1>{{ "instancia" |trans|title}} #{{ "%07d"|format(objInstancia.idInstancia) }}</h1>
{% endblock pagetitle %}


{% block contenedorPrincipal %}
    <div class="row">
        {{ include('logMensajes.html.twig') }}
    </div>
    <h4 class="widgettitle">{{ "informacion" |trans|title}}</h4>
    <div class="mediamgr_head">
        <table class="table sinborde">
            <tr>
                <td> {{"info" | trans }}: <i>{{ objInstancia.idSegmentoComunicacion.idComunicacion.nombre }}</i></td>
                <td> {{"segmento" | trans }}: <i>{{objInstancia.idSegmentoComunicacion.idSegmento.nombre }}</i></td>
                <td> {{"fecha.promociones" | trans }}: <i>{{objInstancia.fecEjecucion|date('d/m/Y')}}</i></td>
                <td class="pull-right"><a class="btn btn-primary" href="{{ path('campaign_creatividades') }}">{{ "boton.listado" |trans|title}}</a></td>
            </tr>
        </table>
    </div>


    <form id="form" name="form" method="POST" action="{{ path("campaign_creatividad_ficha_save") }}">
        <input type="hidden" name="id_instancia" value="{{ objInstancia.idInstancia }}"/>

        {% for idGrupo, numPro  in creatividades  %}
            {% for idNumPro, creatividad in numPro %}
                {% set numPromocion = creatividad['numPromocion'] %}
                {% set segmentadas = creatividad.segmentadas %}
                {% set genericas = creatividad.genericas %}
                {% set grupoSlot = numPromocion.idGrupo %}

                <h4 class="widgettitle">{{ "grupo.slots" |trans|title}}:  {{ grupoSlot.nombre |trans|title}} ({{ "numero.slots" |trans|title}}: {{ grupoSlot.numSlots }})</h4>
                <div class="mediamgr_head">
                    <h4 class="widgettitle">{{ "segmentadas" |trans|title}}</h4>
                    <table class="table table-bordered responsive">
                      <colgroup>
                            <col class="con0">
                            <col class="con1">
                            <col class="con0">
                            <col class="con1">
                            <col class="con0">
                            <col class="con1">
                        </colgroup>
                        <thead>
                          <tr>
                              <th>{{ "descripcion" |trans|title}}</th>
                              <th>{{ "creatividad" |trans|title}}</th>
                              <th>{{ "segmentos" |trans|title}}</th>
                              <th>{{ "simulado" |trans|title}}</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% set numSegmentadas = numPromocion.numSegmentadas %}
                            {% set restantes = numSegmentadas - segmentadas|length %}
                            {% for segmentada in segmentadas %}
                                {% set id = segmentada.idPromocion %}
                                {% set creatividad = segmentada.creatividad %}
                              <tr>
                                  {# Descripcion #}
                                  <td>
                                      <textarea name="creatividad[{{ idNumPro }}][segmentada][{{ id }}][descripcion]" cols="30" rows="2">{{ segmentada.descripcion }}</textarea>

                                  </td>
                                  {# Creatividad #}
                                  <td>
                                      <input id="nombreCreatividadSeg_{{ id }}" type="text" value="{{ creatividad.nombre|default('') }}" readonly/>
                                      <input type="hidden" id="idCreatividadSeg_{{ id }}"
                                             name="creatividad[{{ idNumPro }}][segmentada][{{ id }}][idCreatividad]"/>

                                      <img class="info" width="16px" height="16px" style="cursor: pointer;"
                                           onClick="buscarCreatividad('idCreatividadSeg_{{ id }}', 'nombreCreatividadSeg_{{ id }}');"
                                           src="{{ asset('img/icono_lupa.png') }}" />
                                  </td>
                                  {# Filtro de segmentos #}
                                  <td>
                                      <input type="text"  value="{{ segmentada.nombreFiltro }}" readonly
                                             id="nombreFiltro_{{ id }}"
                                             name="creatividad[{{ idNumPro }}][segmentada][{{ id }}][nombreFiltro]"/>

                                      <input type="hidden" value="{{ segmentada.filtro }}"
                                             id="filtro_{{ id }}"
                                             name="creatividad[{{ idNumPro }}][segmentada][{{ id }}][filtro]"/>

                                      <img class="info" width="16px" height="16px" style="cursor: pointer;"
                                           onClick="buscarSegmentos('filtro_{{ id }}','nombreFiltro_{{ id }}');"
                                           src="{{ asset('img/icono_lupa.png') }}" />
                                  </td>
                                  {# Simulado #}
                                  <td>
                                      {{ segmentada.simulado }}
                                  </td>
                              </tr>
                          {% endfor %}
                        {% if restantes > 0 %}
                            {% for k in 1..restantes %}
                                <tr>
                                    <td>
                                        <textarea name="creatividad[{{ idNumPro }}][segmentada][{{ -k }}][descripcion]" cols="30" rows="2"></textarea>

                                    </td>
                                    <td>
                                        <input id="nombreCreatividadSeg_{{ idNumPro }}_{{ -k }}" type="text" value="" readonly/>
                                        <input type="hidden" id="idCreatividadSeg_{{ idNumPro }}_{{ -k }}"
                                               name="creatividad[{{ idNumPro }}][segmentada][{{ -k }}][idCreatividad]"/>

                                        <img class="info" width="16px" height="16px" style="cursor: pointer;"
                                             onClick="buscarCreatividad('idCreatividadSeg_{{ idNumPro }}_{{ -k }}', 'nombreCreatividadSeg_{{ idNumPro }}_{{ -k }}');"
                                             src="{{ asset('img/icono_lupa.png') }}" />
                                    </td>
                                    <td>
                                        <input type="text"  value="" readonly
                                               id="nombreFiltroSeg_{{ idNumPro }}_{{ -k }}"
                                               name="creatividad[{{ idNumPro }}][segmentada][{{ -k }}][nombreFiltro]"/>

                                        <input type="hidden" value=""
                                               id="filtroSeg_{{ idNumPro }}_{{ -k }}"
                                               name="creatividad[{{ idNumPro }}][segmentada][{{ -k }}][filtro]"/>

                                        <img class="info" width="16px" height="16px" style="cursor: pointer;"
                                             onClick="buscarSegmentos('filtroSeg_{{ idNumPro }}_{{ -k }}','nombreFiltroSeg_{{ idNumPro }}_{{ -k }}');"
                                             src="{{ asset('img/icono_lupa.png') }}" />
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>

                    <h4 class="widgettitle">{{ "genericas" |trans|title}}</h4>
                    <table class="table table-bordered responsive">
                      <colgroup>
                            <col class="con0">
                            <col class="con1">
                            <col class="con0">
                            <col class="con1">
                            <col class="con0">
                            <col class="con1">
                        </colgroup>
                        <thead>
                          <tr>
                              <th>{{ "descripcion" |trans|title}}</th>
                              <th>{{ "creatividad" |trans|title}}</th>
                              <th>{{ "simulado" |trans|title}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% set numGenericas = numPromocion.numGenericas %}
                          {% set restantes = numGenericas - genericas|length %}
                            {% for generica in genericas %}
                                {% set id = generica.idPromocion %}
                                <tr>
                                    <td>
                                        <textarea name="creatividad[{{ idNumPro }}][generica][{{ id }}][descripcion]" cols="30" rows="2" >{{ generica.descripcion }}</textarea>

                                    </td>
                                    <td>
                                        <input type="text" value="{{ generica.creatividad.nombre|default('') }}"
                                                id="nombreCreatividadGen_{{ id }}" readonly/>

                                        <input type="hidden" value="{{ generica.creatividad.idCreatividad|default('') }}"
                                               id="idCreatividadGen_{{ id }}"
                                               name="creatividad[{{ idNumPro }}][generica][{{ id }}][idCreatividad]"/>

                                        <img class="info" width="16px" height="16px" style="cursor: pointer;"
                                             onClick="buscarCreatividad('idCreatividadGen_{{ id }}', 'nombreCreatividadGen_{{ id }}');"
                                             src="{{ asset('img/icono_lupa.png') }}" />
                                    </td>
                                    <td>
                                        {{ generica.simulado }}
                                    </td>
                                </tr>
                            {% endfor %}

                            {% if restantes > 0 %}
                                {% for k in 1..restantes %}
                                    <tr>
                                        <td>
                                            <textarea name="creatividad[{{ idNumPro }}][generica][{{ -k }}][descripcion]" cols="30" rows="2"></textarea>

                                        </td>
                                        <td>
                                            <input id="nombreCreatividadGen_{{ idNumPro }}_{{ -k }}" type="text" value="" readonly/>
                                            <input type="hidden" id="idCreatividadGen_{{ idNumPro }}_{{ -k }}"
                                                   name="creatividad[{{ idNumPro }}][generica][{{ -k }}][idCreatividad]"/>

                                            <img class="info" width="16px" height="16px" style="cursor: pointer;"
                                                 onClick="buscarCreatividad('idCreatividadGen_{{ idNumPro }}_{{ -k }}', 'nombreCreatividadGen_{{ idNumPro }}_{{ -k }}');"
                                                 src="{{ asset('img/icono_lupa.png') }}" />
                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>

            {% endfor %}
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td width="100"> <button class="btn btn-success" id="botonGuardar">{{ "boton.guardar" | trans|title }}</button></td>
                </tr>
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning">
                {{ "mensaje.error.no.gruposlot.configurado" | trans }}
            </div>
        {% endfor %}

    </form>

    {#Formulario para pasar mediante post los parametros de las variables al popup de creatividades#}
    <form id="formPopupCreatividad" name="formPopupCreatividad" method="POST" action="{{ path("direct_buscador_creatividades_popup") }}" onsubmit="submitPopupCreatividad(this)">
        <input type="hidden" name="id_id" id="id_id" value="">
        <input type="hidden" name="id_nombre" id="id_nombre" value="">
    </form>

    {% include ('RMSegmentoBundle:Default/Buscador:formPopUpBuscadorSegmentos.html.twig') %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript">

    function buscarCreatividad (identificador, idNombre){
        document.getElementById("id_id").value = identificador;
        document.getElementById("id_nombre").value = idNombre;
        $('#formPopupCreatividad').submit();
    }

    function submitPopupCreatividad(form){
        var largo = 1050;
        var altura = 850;
        var top = (screen.height - altura) / 2;
        var izquierda = (screen.width - largo) / 2;
        {% set nombreVentana = "creatividades"|trans|title %}
        var nomVentana = '{{ nombreVentana }}';
        window.open('', nomVentana, "width=" + largo + ",height=" + altura + ",top=" + top + ",left=" + izquierda);
        form.target = nomVentana;
    }

</script>

{% endblock %}