<h4 class="widgettitle">{{ "datos" |trans }}</h4>
<div class="mediamgr_head">
    <table class="margin-center">
        <tbody>
        <tr>
            <td class="sinborde" width="20%">{{ "nombre" | trans }}: </td>
            <td class="sinborde">&nbsp;</td>
            <td class="sinborde">{{ entity.nombre }}</td>
        </tr>
        <tr>
            <td class="sinborde">{{ "tipo" |trans|title}}</td>
            <td class="sinborde">&nbsp;</td>
            <td class="sinborde">{{ tipo[entity.tipo] }}</td>
        </tr>
        <tr>
            <td class="sinborde">{{ "numero.slots" | trans }}: </td>
            <td class="sinborde">&nbsp;</td>
            <td class="sinborde">{{ entity.numSlots }}</td>
        </tr>
        <tr>
            <td class="sinborde">{{ "tamano.slots" |trans|title}}</td>
            <td class="sinborde">&nbsp;</td>
            <td class="sinborde">{{ entity.idTamanyoSlot.codigo }}</td>
        </tr>
        </tbody>
    </table>
</div>

<h4 class="widgettitle">{{ "grupo.slots.caracteristicas" |trans|title }}</h4>
<table class="table table-bordered responsive">
    <tbody>
    {% if entity.mImgProducto is not null %}
        <tr>
            <td  width="1%"><input type="checkbox" {% if  entity.mImgProducto %} checked="checked" {% endif %} disabled="disabled"/></td>
            <td  colspan="2">
                {% if entity.tipo == constant('PROMOCION', entity) %}
                    {{ "formulario.grupo.slot.m_img_producto" | trans }}
                {% else %}
                    {{ "formulario.grupo.slot.m_img_creatividad" | trans }}
                {% endif %}
            </td>
        </tr>
    {% endif %}

    {% if entity.mNombreProducto is not null %}
        <tr>
            <td  width="1%"><input type="checkbox" {% if  entity.mNombreProducto %} checked="checked" {% endif %} disabled="disabled"/></td>
            <td colspan="2">{{ "formulario.grupo.slot.m_nombre_producto" | trans }}</td>
        </tr>
    {% endif %}

    {% if entity.mPrecio is not null %}
        <tr>
            <td  width="1%"><input type="checkbox" {% if  entity.mPrecio %} checked="checked" {% endif %} disabled="disabled"/></td>
            <td colspan="2">{{ "formulario.grupo.slot.m_precio_producto" | trans }}</td>
        </tr>
    {% endif %}

    {% if entity.mVolumen is not null %}
        <tr>
            <td  width="1%"><input type="checkbox"  {% if  entity.mVolumen %} checked="checked" {% endif %} disabled="disabled"/></td>
            <td  colspan="2">{{ "formulario.grupo.slot.m_volumen" | trans }}</td>
        </tr>
    {% endif %}

    {% if entity.mCondiciones is not null %}
        <tr>
            <td  width="1%"><input type="checkbox"  {% if  entity.mCondiciones %} checked="checked" {% endif %} disabled="disabled" /></td>
            <td colspan="2">{{ "formulario.grupo.slot.m_condiciones" | trans }}</td>
        </tr>
    {% endif %}


    {% if entity.mTexto is not null %}
        <tr>
            <td  width="1%"><input type="checkbox"  {% if  entity.mTexto %} checked="checked" {% endif %} disabled="disabled" /></td>
            <td  colspan="2">{{ "formulario.grupo.slot.m_texto" | trans }}</td>
        </tr>
    {% endif %}

    {% if entity.mVoucher is not null %}
        <tr>
            <td  width="1%"><input type="checkbox" {% if  entity.mVoucher %} checked="checked" {% endif %} disabled="disabled"  /></td>
            <td  colspan="2">{{ "formulario.grupo.slot.m_voucher" | trans }}</td>
        </tr>
    {% endif %}

    {% if entity.mFidelizacion is not null %}
        <tr>
            <td  width="1%"><input type="checkbox" {% if  entity.mFidelizacion %} checked="checked" {% endif %} disabled="disabled"/></td>
            <td  colspan="2">{{ "formulario.grupo.slot.m_fidelizacion" | trans }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>