{% extends ':campaign:base_campaign.html.twig' %}

{% block title %}{{ "promocion" |trans|title}}{% endblock %}

{% block pagetitle %}
    <h5>{{ promocion.getNumPromocion.idCategoria.nombre|default('creatividad'|trans) }}</h5>
    <h1>{{ "promocion" |trans|title}}</h1>
{% endblock pagetitle %}

{% block migas %}
    <li>
        <a href="{{ path('campaign_campanyas') }}"><span class="iconfa-home"></span></a>
        <span class="separator"></span>
    </li>
    <li>
        <a href="{{ path('campaign_campanyas') }}">
            {{ "menu.campaign.campanas" |trans|title }}
        </a>
        <span class="separator"></span></li>
    <li>
        <a href="{{ path('campaign_ficha', {'id_instancia': promocion.getNumPromocion.getIdInstancia.idInstancia }) }}">
            #{{ "%07d"|format(promocion.getNumPromocion.getIdInstancia.idInstancia) }}
        </a>
        <span class="separator"></span>
    </li>
    <li>{{ promocion.getNumPromocion.idCategoria.nombre|default('') }} <span class="separator"></span></li>
    <li>{{ "promocion" |trans|title}}</li>
{% endblock migas %}

{% block id %}ajax{% endblock id %}

{% block body %}
    <h4 class="widgettitle">{% block widgettitle %}{% endblock widgettitle %}</h4>
    <div class="mediamgr_head">
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </div>
{% endblock body %}

