{% extends '@RMProducto/Promocion/base_promocion.html.twig' %}

{% set objInstancia = promocion.numPromocion.idInstancia %}

{% block widgettitle %}
    {{ "segmentadas" |trans|title }}
{% endblock widgettitle %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal' }}) }}
    <div id="content">
    <div class="row-fluid">
        <div class="span6">
            <fieldset>
                <legend>{{ "promocion" |trans|title }} - {{ promocion.numPromocion.idCategoria.nombre }}</legend>

                    <div class="control-group {% if not form.marca.vars.valid %}error{% endif %}">
                        {{ form_label(form.marca, null, {'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.marca, {'attr': {'class' : 'change span8' }}) }}
                            <span class="help-inline">
                                {% for error in form.marca.vars.errors %}
                                    {{ error.message }} <br/>
                                {% endfor %}
                            </span>
                        </div>
                    </div>

                    <div class="control-group">
                        {{ form_label(form.idProducto, null,  {'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.idProducto, {'attr': {'class' : 'span8' }}) }}
                        </div>
                    </div>

                    <div class="control-group {% if not form.idTipoPromocion.vars.valid %}error{% endif %}">
                        {{ form_label(form.idTipoPromocion, null,  {'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.idTipoPromocion, {'attr': {'class' : 'span8' }}) }}
                            <span class="help-inline">
                                {% for error in form.idTipoPromocion.vars.errors %}
                                    {{ error.message }} <br/>
                                {% endfor %}
                            </span>
                        </div>
                    </div>

                    <div class="control-group  {% if not app.request.xmlHttpRequest and not form.nombreFiltro.vars.valid  %} error {% endif %}">
                        {{ form_label(form.nombreFiltro, null,  {'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            <div class="input-append span8">
                                {{ form_widget(form.nombreFiltro, {'attr': {'style' : 'width: 95% !important' }}) }}
                                <button class="btn segmentador" type="button"
                                        data-nombrefiltro="{{ form.nombreFiltro.vars.id }}"
                                        data-filtro="{{ form.filtro.vars.id }}">
                                    <i class="iconfa iconfa-filter"></i>
                                </button>
                            </div>
                            {% if not app.request.xmlHttpRequest %}
                            <span class="help-inline">
                                {% for error in form.nombreFiltro.vars.errors %}
                                    {{ error.message }} <br/>
                                {% endfor %}
                            </span>
                            {% endif %}

                            {{ form_widget(form.filtro, {
                                'attr': {
                                'class': 'filtro',
                                'data-nombrefiltro': form.nombreFiltro.vars.id,
                                'data-promocion': promocion.idPromocion is not null ? promocion.idPromocion : -1
                                }
                            }) }}
                        </div>
                    </div>

                    <div class="control-group">
                        {{ form_label(form.poblacion, null,  {'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.poblacion, {'attr': {'class' : 'span8' }}) }}
                        </div>
                    </div>

                    <div class="control-group {% if not form.minimo.vars.valid %}error{% endif %}">
                        {{ form_label(form.minimo, null,  {'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.minimo, {'attr': {'class' : 'span8' }}) }}
                            <span class="help-inline">
                                {% for error in form.minimo.vars.errors %}
                                    {{ error.message }} <br/>
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                <div class="control-group {% if not form.fechaCaducidad.vars.valid %}error{% endif %}">
                    {{ form_label(form.fechaCaducidad, null, {'label_attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                        {{ form_widget(form.fechaCaducidad, {'attr': {'class': 'datepicker span8'} }) }}
                        <span class="help-inline">
                                {% for error in form.fechaCaducidad.vars.errors %}
                                    {{ error.message }}
                                {% endfor %}
                            </span>
                    </div>
                </div>

            </fieldset>
        </div>
        <div class="span6">
            {% include '@RMProducto/Promocion/form_promocion_parte_comun.html.twig' with {'form': form} %}
        </div>
    </div>
    </div>
    <div class="row-fluid">
        <div class="form-actions">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
        </div>
    </div>

    {{ form_end(form) }}

    {% include 'RMSegmentoBundle:Default/Buscador:formPopUpBuscadorSegmentos.html.twig' %}

    <script type="text/javascript">
        $(document).on('ready', function () {

            $(document).on('click', '.voucher_generator', genereateVoucher);

            function addCondicionSegmentoPadreGenericas(elem) {
                if (typeof elem === 'undefined') {
                    return false;
                }

                if(elem.value != '') {
                    return;
                }

                var filtro = '{"$and": [{"ls": {"$in": [{{ objInstancia.idSegmentoComunicacion.idSegmento.idSegmento }}] } } ] }';
                var value = {
                    filtroCompleto: filtro
                };

                elem.value = JSON.stringify(value);
            }

            $('.filtro').each(function () {
                addCondicionSegmentoPadreGenericas(this);
                calculaPoblacionPromocion(this);
            });

            function addCondicionSegmentoPadre(elem) {
                if (typeof elem === 'undefined') {
                    return false;
                }

                var filtro = JSON.parse(elem.value);
                var filtroCompleto = '{"$and": [__CONDICION__,{"ls": {"$in":[{{ objInstancia.idSegmentoComunicacion.idSegmento.idSegmento }}] } }]}';

                filtroCompleto = filtroCompleto.replace('__CONDICION__', filtro.parse);
                filtro.filtroCompleto = filtroCompleto;

                elem.value = JSON.stringify(filtro);
            }

            $(document).on('click', '.segmentador', function (event) {
                var e = event || window.event;
                e.preventDefault();

                $this = $(this);
                buscarSegmentos($this.data('filtro'), $this.data('nombrefiltro'));
            });

            $(document).on('change', '.filtro', function () {
                addCondicionSegmentoPadre(this);
                calculaPoblacionPromocion(this);
            });

            function genereateVoucher(event){
                var e = event||window.event;
                e.preventDefault();
                var codigo = document.getElementById('{{ form.codigo.vars.id }}');

                $.get('{{ path('rm_producto.promocion.get_unique_voucher') }}', function(data){
                    codigo.value = data.voucher;
                });
            }


            function calculaPoblacionPromocion(elem) {

                var path;
                var idPromocion;
                var condicion;
                var poblacion;
                var nombreFiltro;
                var filtroCompleto;
                var fecha;

                if (typeof elem === 'undefined') {
                    return false;
                }

                filtroCompleto = JSON.parse(elem.value);
                idPromocion = elem.dataset.promocion;


                nombreFiltro = elem.dataset.nombrefiltro;
                condicion = filtroCompleto.filtroCompleto;

                nombreFiltro = document.getElementById(nombreFiltro).value;
                fecha = document.getElementById('fecha_busqueda').value;

                path = '{{ path('mongo_calcula_poblacion') }}';
                $.ajax({
                    type: "POST",
                    url: path,
                    data: {condicion: condicion, fecha_busqueda: fecha},
                    complete: function (objeto, exito) {
                        if (exito === 'success') {
                            poblacion = objeto.responseText;
                            document.getElementById('{{ form.poblacion.vars.id  }}').value = poblacion;
                            //guardaCambiosPromocion(idPromocion, poblacion, elem.value, nombreFiltro);
                        }
                    }
                });

            }

            function guardaCambiosPromocion(idPromocion, poblacion, condicion, nombreFiltro) {

                if(parseInt(idPromocion) < 0) {
                    return;
                }

                var path = '{{ path('campaign_guardar_poblacion') }}';
                $.ajax({
                    type: "POST",
                    url: path,
                    data: {
                        idPromocion: idPromocion,
                        poblacion: poblacion,
                        condicion: condicion,
                        nombreFiltro: nombreFiltro
                    },
                    complete: function (objeto, exito) {
                        if (exito === 'success') {
                            document.getElementById('{{ form.poblacion.vars.id }}').focus();
                            jQuery.jGrowl(JSON.parse(objeto.responseText).mensaje);
                        }
                    }
                });
            }


            $(document).on('change', '.change', function (event) {
                var e = event || window.event;
                e.preventDefault();

                var $form = $(this).closest('form');
                var form_data = $form.serializeArray().reduce(function (obj, item) {
                    obj[item.name] = item.value;
                    return obj;
                }, {});
                delete form_data['{{ form._token.vars.full_name }}'];

                $.ajax({
                    method: $form.attr('method'),
                    url: $form.attr('action'),
                    data: form_data,
                    success: function (response) {
                        $form.find('#content').html($(response).find('#content'));
                    }
                });

            });
        });
    </script>

{% endblock content %}
