<table class="table table-bordered responsive">
    <colgroup>
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
    </colgroup>
    <thead>
    <tr>
        <th>{{ "marca" |trans|title}}</th>
        <th>{{ "producto" |trans|title}}</th>
        <th>{{ "tipo.promocion" |trans|title}}</th>
        <th>{{ "info" |trans|title}}</th>
    </tr>
    </thead>
    <tbody>
    {% for genericas in form.genericas %}
        <tr>
            <td>{{ form_widget(genericas.marca) }}</td>
            <td>{% if genericas.idProducto is defined %}{{ form_widget(genericas.idProducto) }}{% endif %}</td>
            <td>{{ form_widget(genericas.idTipoPromocion) }}</td>
            <td>{{ form_widget(genericas.filtro) }}</td>

        </tr>
    {% else %}
        <tr>
            <td> <div class="alert alert-warning">{{ "sin.resultados" |trans|title}}</div></td>
        </tr>
    {% endfor %}
    </tbody>
</table>