{% if num_promocion.numGenericas > 0 %}
    {% set genericas_restantes = num_promocion.numGenericas - num_promocion.promocionesGenericas.count %}

    <h4 class="widgettitle">{{ "genericas" |trans|title }}</h4>
    <table class="table table-bordered">
        <colgroup>
            <col class="con0">
            <col class="con1">
            <col class="con0">
            <col class="con1">
            <col class="con0">
            <col class="con1">
        </colgroup>
        <thead>
        <tr>
            <th width="25%">{{ "producto" |trans|title }}</th>
            <th width="15%">{{ "tipo.promocion" |trans|title }}</th>
            <th>{{ "controles" |trans|title }}</th>
        </tr>
        </thead>

        <tbody>
        {% for generica in num_promocion.promocionesGenericas %}
            <tr data-id-promocion="{{ generica.idPromocion }}">
                <td class="center-all">{{ generica.idProducto.nombre }}</td>
                <td class="center-all">{{ generica.idTipoPromocion.nombre }}</td>
                <td class="center-all">
                    <a href="{{ path('rm_producto.promocion.generica_edit', {'id': generica.idPromocion, 'returnUrl': returnUrl|default('') }) }}"
                       class="btn btn-warning"><i class="iconfa iconfa-edit"></i></a>
                    <!--<a href="#" class="btn btn-danger"><i class="iconfa iconfa-trash"></i></a>-->
                </td>
            </tr>
        {% endfor %}

            <tr>
                <td colspan="5" class="center-all">
                    <div class="well well-small">
                        <div>
                            <a class="btn btn-success"
                               href="{{ path('rm_producto.promocion.generica_new', {'idNumPromocion': num_promocion.idNumPro, 'returnUrl': returnUrl|default('')}) }}">
                                <i class="iconfa iconfa-plus iconfa-align-center"></i>
                            </a>
                        </div>
                        {% if genericas_restantes > 0 %}
                            <p class="text-info">
                                <strong>{{ "informacion.promociones.restantes" |transchoice(genericas_restantes) }}</strong>
                            </p>
                        {% endif %}
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
{% endif %}