{% if num_promocion.numSegmentadas > 0 %}
    {% set segmentadas_restantes = num_promocion.numSegmentadas - num_promocion.promocionesSegmentadas.count %}

    <h4 class="widgettitle">{{ "segmentadas" |trans|title }}</h4>
    <table class="table table-responsive table-bordered">
        <colgroup>
            <col class="con0">
            <col class="con1">
            <col class="con0">
            <col class="con1">
            <col class="con0">
            <col class="con1">
        </colgroup>
        <thead>
        <tr>
            <th width="30%">{{ "descripcion" |trans|title }}</th>
            <th width="15%">{{ "creatividad" |trans|title }}</th>
            <th width="10%">{{ "simulado" |trans|title }}</th>
            <th width="35%">{{ "segmentos" |trans|title }}</th>
            <th width="10%">{{ "controles" |trans|title }}</th>
        </tr>
        </thead>
        <tbody>
        {% for segmentada in num_promocion.promocionesSegmentadas %}
            <tr data-id-promocion="{{ segmentada.idPromocion }}">
                <td class="center-all">{{ segmentada.descripcion }}</td>
                <td class="center-all">
                    {% if segmentada.creatividad is not null %}
                        <img src="{{ asset(url_creatividad ~ segmentada.creatividad.imagen) }}" width="40%"/>
                    {% endif %}
                </td>
                <td class="center-all">{{ segmentada.simulado }}</td>
                <td class="center-all">{{ segmentada.nombreFiltro }}</td>
                <td class="center-all">
                    <a href="{{ path('rm_producto.promocion.creatividad_edit', {'id': segmentada.idPromocion}) }}"
                       class="btn btn-warning">
                        <i class="iconfa iconfa-edit"></i></a>
                    <!--<a href="#" class="btn btn-danger"><i class="iconfa iconfa-trash"></i></a>-->
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="6" class="center-all">
                    <div class="well well-small">
                        <div>
                            <a class="btn btn-success"
                               href="{{ path('rm_producto.promocion.creatividad_segmentada_new', {'idNumPromocion': num_promocion.idNumPro}) }}">
                                <i class="iconfa iconfa-plus"></i>
                            </a>
                        </div>
                        {% if segmentadas_restantes > 0 %}
                        <p class="text-info">
                            <strong>{{ "informacion.creatividades.restantes" |transchoice(segmentadas_restantes) }}</strong>
                        </p>
                        {% endif %}
                    </div>

                </td>
            </tr>

        </tbody>
    </table>

{% endif %}