<table id='segmentada{{ form.vars.value.idNumPro }}' class="table table-bordered responsive">
    <colgroup>
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
    </colgroup>
    <thead>
    <tr>
        <th>{{ "marca" |trans|title}}</th>
        <th>{{ "producto" |trans|title}}</th>
        <th>{{ "tipo.promocion" |trans|title}}</th>
        <th>{{ "info" |trans|title}}</th>
        <th>{{ "segmentos" |trans|title}}</th>
        <th>{{ "poblacion" |trans|title}}</th>
        <th>{{ "minimo" |trans|title}}</th>
    </tr>
    </thead>
    <tbody>
    {% for segmentada in form.segmentadas %}
        <tr>
            <td>{{ form_widget(segmentada.marca) }}</td>
            <td>{% if segmentada.idProducto is defined %}{{ form_widget(segmentada.idProducto) }}{% endif %}</td>
            <td>{{ form_widget(segmentada.idTipoPromocion) }}</td>
            <td></td>
            <td>{{ form_widget(segmentada.nombreFiltro) }} {{ form_widget(segmentada.filtro) }}</td>
            <td>{{ form_widget(segmentada.poblacion)  }}</td>
            <td>{{ form_widget(segmentada.minimo) }}</td>
        </tr>
    {% else %}
        <tr>
            <td> <div class="alert alert-warning">{{ "sin.resultados" |trans|title}}</div></td>
        </tr>
    {% endfor %}
    </tbody>
</table>