{% extends '::pantallaPopUp.html.twig' %}

{% block title %}
	{{ "promocion" | trans|title }} - {{ "informacion.avanzada" | trans|title }}
{% endblock %}
{% block header %}
  <div class="container">
      <div class="pageheader">
          <div class="pagetitle">
              <h5>{{ "informacion.avanzada" |trans|title}}</h5>
              <h1>{{ "promocion" |trans|title}}</h1>
          </div>
      </div>
  </div>
{% endblock header %}
{% block body %}
<div class="maincontentinner">
    <h4 class="widgettitle">{{ "info" | trans|title }}</h4>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>{{ "precio.actual" | trans }}:</td>
            <td>{{ producto.precioVenta }} €</td>
        </tr>

        <tr>
            <td>{{ "volumen" | trans }}:</td>
            <td>{{ producto.Volumen }} g</td>
        </tr>
        </tbody>
    </table>


	{{ form_start(form, {'attr': {'id':'form'} })}}
		<input type="hidden" name="id_promocion" value="{{ promocion.idPromocion }}">
        <h4 class="widgettitle">{{ "configuracion" |trans|title}}</h4>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>{{ "descripcion" | trans }}:</td>
                    <td>{{ form_widget(form.descripcion) }}</td>
                </tr>
                <tr>
                    <td>{{ "imp.fijo" | trans|title }}:</td>
                    <td>{{ form_widget(form.impFijo) }}</td>
                </tr>
                <tr>
                    <td>{{ "imp.distribuidor" | trans|title }}:</td>
                    <td>{{ form_widget(form.impDistribuidor) }}</td>
                </tr>
                <tr>
                    <td>{{ "imp.consumidor" | trans|title }}:</td>
                    <td>{{ form_widget(form.impConsumidor) }}</td>
                </tr>
                <tr>
                    <td>{{ "condiciones" | trans|title }}:</td>
                    <td>{{ form_widget(form.condiciones) }}</td>
                </tr>
                <tr>
                    <td>{{ "fidelizacion" | trans|title }}:</td>
                    <td>{{ form_widget(form.fidelizacion) }}</td>
                </tr>
                <tr>
                    <td>{{ "codigo.promocion" | trans|title }}:</td>
                    <td>{{ form_widget(form.codigo) }}&nbsp;&nbsp;<button class="btn btn-default voucher_generator">{{ "generar" |trans|title}}</button></td>
                </tr>

            </tbody>
        </table>
    <table class="margin-center" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td width="100"><button type="submit" class="btn btn-success">{{ "boton.aceptar" | trans }}</button></td>
            <td width="100"><button class="btn btn-danger" onClick="window.close();">{{ "boton.cancelar" | trans }}</button> </td>
        </tr>
        </tbody>
    </table>
	{{ form_end(form) }}

</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">		
		function habilitarSoloNumerosConDecimales(){
			$('.soloNum').keydown(function(e) {
				if ((e.keyCode < 48 || e.keyCode > 57) && (e.keyCode < 96 || e.keyCode > 105) && e.keyCode != 8 && e.keyCode != 9 && e.keyCode != 110 && e.keyCode != 190 && e.keyCode != 109 && e.keyCode != 173 )
			          e.preventDefault();
			});
		}

        function genereateVoucher(event){
            var e = event||window.event;
            e.preventDefault();
            var codigo = document.getElementById('{{ form.codigo.vars.id }}');

            $.get('{{ path('producto_default_generate_unique_voucher') }}', function(data){
                codigo.value = data.voucher;
            });
        }

		$(document).ready(function(){
			habilitarSoloNumerosConDecimales();

            $('#form').on('submit', function(event){
                var e = event || window.event;
                e.preventDefault();
                var $this = $(this);
                $.ajax({
                    type: "POST",
                    url: $this.attr('action'),
                    data: $this.serialize(),
                    success: function(data){
                        window.opener.$('#control_mensajes').remove();
                        window.opener.$('#control_mensajes').append(data.responseText);
                        window.close();
                    },
                    error: function(data){
                        console.log(data);
                    }
                });
            });

            $('.voucher_generator').on('click', genereateVoucher);

			
		});
		
	</script>
{% endblock %}