{% extends '::campaign/base_campaign.html.twig' %}

{% block title %}
    {{ "menu.campaign.campanas" | trans|title }}
{% endblock %}

{% block migas %}
    <li><a href="{{ path('campaign_campanyas') }}"><span class="iconfa-home"></span></a><span class="separator"></span>
    </li>
    <li>{{ "menu.campaign.campanas" |trans|title }} <span class="separator"></span></li>
    <li>{{ "campana" |trans|title }} <span class="separator"></span></li>
    <li>#{{ "%07d"|format(objInstancia.idInstancia) }}</li>
{% endblock %}

{% block pagetitle %}
    <h5>{{ "menu.data.informacion" |trans|upper }}</h5>
    <h1>{{ "campana" |trans|title }} #{{ "%07d"|format(objInstancia.idInstancia) }}</h1>
{% endblock pagetitle %}

{% block contenedorPrincipal %}

    <div class="row-fluid">
        <div class="span1 offset11">
            <a class="btn btn-primary pull-right" href="{{ path('campaign_campanyas') }}">
                {{ "boton.listado" |trans|title }}
            </a>
        </div>
    </div>

    <h4 class="widgettitle">{{ "menu.data.informacion" |trans|title }}</h4>
    <div class="mediamgr_head">
        <table class="table">
            <tbody>
            <tr>
                <td width="8%"><b>{{ "comunicacion" |trans|title }}</b></td>
                <td width="25%">{{ objInstancia.idSegmentoComunicacion.idComunicacion.nombre }}</td>
                <td width="8%"><b>{{ "segmento" |trans|title }}</b></td>
                <td width="25%">{{ objInstancia.idSegmentoComunicacion.idSegmento.nombre }}</td>
                <td width="10%"><b>{{ "fecha.promociones" |trans|title }}</b></td>
                <td width="25%">{{ objInstancia.fecCreacion | date('d/m/Y') }}</td>
            </tr>
            </tbody>
        </table>
    </div>
<form id="form" name="form" method="POST" action="{{ path("campaign_campanyas_save") }}">
    <input type="hidden" name='id_instancia' value="{{ objInstancia.idInstancia }}"/>

    {% if categoria %}
        {% set nivelCategoria = categoria.idNivelCategoria.idNivelCategoria %}
        {% set idCategoria = categoria.idCategoria %}
    {% else %}
        {% set nivelCategoria = 1 %}
        {% set idCategoria = 0 %}
    {% endif %}
    <input type="hidden" name="id_categoria" value="{{ idCategoria }}"/>
    <input type="hidden" name="fecha_busqueda" id="fecha_busqueda" value="{{ "now"|date("d-m-Y") }}"/>

    {% if gruposSlot | length == 0 %}
        <div class="">
            <h4>{{ "mensaje.error.no.gruposlot.configurado" |trans|title }}</h4>
        </div>
    {% else %}

        <h4 class="widgettitle">{{ "filtro.busqueda" |trans|title }}</h4>
        <div class="mediamgr_head">
            <ul class="mediamgr_menu">
                <li>
                    <label for="select_categorias">{{ "categoria" |trans|title }}: </label>
                    <select name="categorias" id="select_categorias">
                        <option value="{{ path('campaign_ficha', {'id_categoria': 0, 'id_instancia': objInstancia.idInstancia }) }}">{{ "select.todas" |trans|title }}</option>
                        {% for cat in categorias %}
                            <option value="{{ path('campaign_ficha', {'id_categoria': cat.idCategoria, 'id_instancia': objInstancia.idInstancia }) }}"
                                    {% if cat.idCategoria == idCategoria %} selected{% endif %}>
                                {{ cat.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                </li>
            </ul>
        </div>
        <div class="row-fluid">
            <div class="span1 offset11">
                <button class="btn btn-primary pull-right" id="botonGuardar">{{ "boton.guardar" |trans|title }}</button>
            </div>
        </div>

        {% set grupos = "" %}
        {% for grupoSlot in gruposSlot %}
            {% set indiceGrupo = grupoSlot.idGrupo~"," %}
            {% set idGrupo = grupoSlot.idGrupo %}
            {% set grupos = grupos~indiceGrupo %}

            <h4 class="widgettitle">{{ "grupo.slots" |trans|title }}: {{ grupoSlot.nombre|title }} </h4>
            <div class="mediamgr_left">
            <div class="mediamgr_head">
            <h5 class="widgettitle">{{ "segmentadas" |trans|title }}</h5>
            <table class="table table-bordered responsive">
                <colgroup>
                    <col class="con0">
                    <col class="con1">
                    <col class="con0">
                    <col class="con1">
                    <col class="con0">
                    <col class="con1">
                </colgroup>
                <thead>
                <tr>
                    <th class=" botonera_central">{{ "marca" | trans }}</th>
                    <th class=" botonera_central">{{ "referencia" | trans }}</th>
                    <th class=" botonera_central">{{ "tipo.promocion" | trans }}</th>
                    <th class=" botonera_central">{{ "info" | trans }}</th>
                    <th class="botonera_central">{{ "segmentos" | trans }}</th>
                    <th class=" botonera_central">{{ "poblacion" | trans }}</th>
                    <th class=" botonera_central">{{ "minimo" | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for idNumPro, promocion in promociones[idGrupo] %}
                    {% set numSegmentadas = promocion['numPromocion'].numSegmentadas %}
                    {% set restantes = numSegmentadas - (promocion['segmentadas'] | length) %}
                    {% for segmentada in promocion['segmentadas'] %}
                        {% set idPromocion = segmentada.idPromocion %}
                        <!--<tr style="background: rgba(129, 228, 129, 0.41)" >-->
                        <tr class="success">
                            <input type="hidden"
                                   name="promocion[{{ idNumPro }}][segmentadas][{{ idPromocion }}][idPromocion]"
                                   value="{{ idPromocion }}"/>
                            {# Select de marcas segun categoria de promocion#}
                            <td class="botonera_central">
                                <select id='marca_promo_{{ idPromocion }}'
                                        name="promocion[{{ idNumPro }}][segmentadas][{{ idPromocion }}][marca]"
                                        class="izq"
                                        onchange="actualizaProductos('{{ promocion['numPromocion'].idCategoria.idCategoria }}',this.value, 'producto_promo_{{ idPromocion }}')">
                                    <option value="-1"> {{ "select.marca" | trans }}</option>
                                    {% for marca in promocion['marcas'] %}
                                        <option value="{{ marca.idMarca }}"
                                                {% if segmentada.idProducto and marca.idMarca == segmentada.idProducto.idMarca.idMarca %}
                                        selected
                                                {% endif %}>
                                            {{ marca.nombre }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>

                            {# Select de productos, se actualiza dinamicamente cuando cambia el select de marcas#}
                            <td class="botonera_central">
                                <select id='producto_promo_{{ idPromocion }}'
                                        name="promocion[{{ idNumPro }}][segmentadas][{{ idPromocion }}][producto]"
                                        class=" izq">
                                    <option value="-1"> {{ "select.producto" | trans }}</option>
                                    {% if segmentada.idProducto %}
                                        {% set productos = segmentada.getProductosByMarca(nivelCategoria) %}
                                        {% for producto in productos %}
                                            <option value="{{ producto.idProducto }}"
                                                    {% if producto.idProducto == segmentada.idProducto.idProducto %} selected {% endif %}>
                                                {{ producto.nombre }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}

                                </select>
                            </td>

                            {# Tipo de promocion #}
                            <td class="botonera_central">
                                <select name="promocion[{{ idNumPro }}][segmentadas][{{ idPromocion }}][tipo]"
                                        id="promocion_{{ idPromocion }}_tipo"
                                        class="">
                                    {% for tipo in tipoPromocion %}
                                        <option value="{{ tipo.codigo }}"
                                                {% if segmentada.idTipoPromocion.codigo == tipo.codigo %}selected{% endif %} >
                                            {{ tipo.nombre }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>

                            {# Info #}
                            <td class="botonera_central">
                                <img class="info"
                                     onClick="verDatosPromocion({{ idPromocion }});"
                                     style="cursor: pointer"
                                     src="{{ asset('img/icono_info.png') }}"
                                     alt="{{ 'info' | trans }}"
                                     title="{{ 'info' | trans }}"/>
                            </td>

                            {# Segmentos #}
                            <td>
                                <img class="info"
                                     onClick="buscarSegmentos('parseFiltro_{{ idPromocion }}', 'nombreFiltro_{{ idPromocion }}');"
                                     src="{{ asset('img/icono_info.png') }}"
                                     alt="{{ 'segmento' | trans }}"
                                     title="{{ 'segmento' | trans }}"/>

                                <input type="text" readonly class="input-xxlarge nombreFiltro"
                                       name="promocion[{{ idNumPro }}][segmentadas][{{ idPromocion }}][filtro]"
                                       id="nombreFiltro_{{ idPromocion }}"
                                       value="{{ segmentada.nombreFiltro | default('') }}"/>
                                <input type="hidden" data-promocion="{{ idPromocion }}"
                                       data-nombreFiltro="nombreFiltro_{{ idPromocion }}" class="filtro"
                                       name="promocion[{{ idNumPro }}][segmentadas][{{ idPromocion }}][filtroParse]"
                                       id="parseFiltro_{{ idPromocion }}"
                                       value="{{ segmentada.filtro | default('') }}"/>
                            </td>

                            {# Poblacion #}
                            <td class="botonera_central">
                                <input type="text" class="input-mini center" id="poblacion_{{ idPromocion }}"
                                       name="promocion[{{ idNumPro }}][segmentadas][{{ idPromocion }}][poblacion]"
                                       value="{{ segmentada.poblacion }}" lang="{{ app.request.locale }}"
                                       readonly/>
                            </td>

                            {# Minimo #}
                            <td class="botonera_central">
                                <input type="text" class="input-mini center"
                                       name="promocion[{{ idNumPro }}][segmentadas][{{ idPromocion }}][minimo]"
                                       value="{{ segmentada.minimo|localizednumber }}" lang="{{ app.request.locale }}"/>
                            </td>
                        </tr>
                    {% endfor %}

                    {% if restantes > 0 %}
                        {% for k in 1..restantes %}
                            <!--<tr style="background: rgba(230, 126, 34, 0.19)">-->
                            <tr class="warning">
                                <input type="hidden"
                                       name="promocion[{{ idNumPro }}][segmentadas][{{ -k }}][idPromocion]"
                                       value="{{ -k }}"/>
                                {# Select de marcas segun categoria de promocion#}
                                <td class="botonera_central">
                                    <select id='{{ idNumPro }}_marca_promo_seg_{{ -k }}'
                                            name="promocion[{{ idNumPro }}][segmentadas][{{ -k }}][marca]"
                                            class="izq"
                                            onchange="actualizaProductos('{{ promocion['numPromocion'].idCategoria.idCategoria }}',this.value, '{{ idNumPro }}_producto_promo_seg_{{ -k }}')">
                                        <option value="-1"> {{ "select.marca" | trans }}</option>
                                        {% for marca in promocion['marcas'] %}
                                            <option value="{{ marca.idMarca }}">
                                                {{ marca.nombre }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>

                                {# Select de productos, se actualiza dinamicamente cuando cambia el select de marcas#}
                                <td class="botonera_central">
                                    <select id='{{ idNumPro }}_producto_promo_seg_{{ -k }}'
                                            name="promocion[{{ idNumPro }}][segmentadas][{{ -k }}][producto]"
                                            class="izq">
                                        <option value="-1"> {{ "select.producto" | trans }}</option>
                                    </select>
                                </td>

                                {# Tipo de promocion #}
                                <td class="botonera_central">
                                    <select name="promocion[{{ idNumPro }}][segmentadas][{{ -k }}][tipo]"
                                            id="promocion_{{ -k }}_tipo"
                                            class="">
                                        {% for tipo in tipoPromocion %}
                                            <option value="{{ tipo.codigo }}">
                                                {{ tipo.nombre }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>

                                {# Info #}
                                <td class="botonera_central">
                                    <img class="info" style="display:none;"
                                         src="{{ asset('img/icono_info.png') }}"
                                         alt="{{ 'info' | trans }}"
                                         title="{{ 'info' | trans }}"/>
                                </td>


                                {# Segmentos #}
                                <td>
                                    <img class="info"
                                         onClick="buscarSegmentos('parseFiltro_{{ -k~idNumPro }}', 'nombreFiltro_{{ -k~idNumPro }}');"
                                         src="{{ asset('img/icono_info.png') }}"
                                         alt="{{ 'segmento' | trans }}"
                                         title="{{ 'segmento' | trans }}"/>

                                    <input type="text" readonly class="nombreFiltro"
                                           name="promocion[{{ idNumPro }}][segmentadas][{{ -k }}][filtro]"
                                           id="nombreFiltro_{{ -k~idNumPro }}" value=""/>
                                    <input type="hidden" data-promocion="{{ -k~idNumPro }}"
                                           data-nombreFiltro="nombreFiltro_{{ -k~idNumPro }}" class="filtro"
                                           name="promocion[{{ idNumPro }}][segmentadas][{{ -k }}][filtroParse]"
                                           id="parseFiltro_{{ -k~idNumPro }}" value=""/>
                                </td>

                                {# Poblacion #}
                                <td class="botonera_central">
                                    <input type="number" class="input-mini center"
                                           name="promocion[{{ idNumPro }}][segmentadas][{{ -k }}][poblacion]"
                                           id="poblacion_{{ -k~idNumPro }}"
                                           placeholder="0"
                                           readonly
                                            >
                                </td>

                                {# Minimo #}
                                <td class="botonera_central">
                                    <input type="number" class="input-mini center"
                                           name="promocion[{{ idNumPro }}][segmentadas][{{ -k }}][minimo]"
                                           value="0"
                                           placeholder="0"/>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>

            <br/>

            <h4 class="widgettitle">{{ "genericas" | trans|title }}</h4>
            <table class="table table-bordered responsive">
                <colgroup>
                    <col class="con0">
                    <col class="con1">
                    <col class="con0">
                    <col class="con1">
                    <col class="con0">
                    <col class="con1">
                </colgroup>
                <thead>
                <tr>
                    <th width="25%" class="botonera_central">{{ "marca" | trans }}</th>
                    <th width="40%" class="botonera_central">{{ "referencia" | trans }}</th>
                    <th width="30%" class="botonera_central">{{ "promocion" | trans }}</th>
                    <th width="5%" class="botonera_central">{{ "info" | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for idNumPro, promocion in promociones[idGrupo] %}
                    {% set numSegmentadas = promocion['numPromocion'].numGenericas %}
                    {% set restantes = numSegmentadas - (promocion['genericas'] | length) %}
                    {% for generica in promocion['genericas'] %}
                        {% set idPromocion = generica.idPromocion %}
                        <tr class="success">
                            <input type="hidden"
                                   name="promocion[{{ idNumPro }}][genericas][{{ idPromocion }}][idPromocion]"
                                   value="{{ idPromocion }}"/>
                            {# Select de marcas segun categoria de promocion#}
                            <td class="botonera_central">
                                <select id='marca_promo_{{ idPromocion }}' style="width: auto"
                                        name="promocion[{{ idNumPro }}][genericas][{{ idPromocion }}][marca]"
                                        class=" izq"
                                        onchange="actualizaProductos('{{ promocion['numPromocion'].idCategoria.idCategoria }}',this.value, 'producto_promo_{{ idPromocion }}')">
                                    <option value="-1"> {{ "select.marca" | trans }}</option>
                                    {% for marca in promocion['marcas'] %}
                                        <option value="{{ marca.idMarca }}"
                                                {% if generica.idProducto and marca.idMarca == generica.idProducto.idMarca.idMarca %}
                                        selected
                                                {% endif %}>
                                            {{ marca.nombre }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>

                            {# Select de productos, se actualiza dinamicamente cuando cambia el select de marcas#}
                            <td class="">
                                <select id='producto_promo_{{ idPromocion }}' style="width: auto"
                                        name="promocion[{{ idNumPro }}][genericas][{{ idPromocion }}][producto]"
                                        class=" izq">
                                    <option value="-1"> {{ "select.producto" | trans }}</option>
                                    {% if generica.idProducto %}
                                        {% set productos = generica.getProductosByMarca(nivelCategoria) %}
                                        {% for producto in productos %}
                                            <option value="{{ producto.idProducto }}"
                                                    {% if producto.idProducto == generica.idProducto.idProducto %} selected {% endif %}>
                                                {{ producto.nombre }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </td>

                            {# Tipo de promocion #}
                            <td class="botonera_central">
                                <select name="promocion[{{ idNumPro }}][genericas][{{ idPromocion }}][tipo]"
                                        id="promocion_{{ idPromocion }}_tipo"
                                        class="">
                                    {% for tipo in tipoPromocion %}
                                        <option value="{{ tipo.codigo }}"
                                                {% if generica.idTipoPromocion.codigo == tipo.codigo %}selected{% endif %} >
                                            {{ tipo.nombre }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>

                            {# Info #}
                            <td class="botonera_central">
                                <img class="info" onClick="verDatosPromocion({{ idPromocion }});"
                                     src="{{ asset('img/icono_info.png') }}"
                                     alt="{{ 'info' | trans }}"
                                     title="{{ 'info' | trans }}"/>

                                <input type="hidden"
                                       data-promocion="{{ idPromocion }}"
                                       class="filtro-genericas"
                                       name="promocion[{{ idNumPro }}][genericas][{{ idPromocion }}][filtroParse]"
                                       id="parseFiltro_{{ idPromocion }}"
                                       value=""/>
                            </td>
                        </tr>
                    {% endfor %}

                    {% if restantes > 0 %}
                        {% for k in 1..restantes %}
                            <tr class="warning">

                                <input type="hidden" name="promocion[{{ idNumPro }}][genericas][{{ -k }}][idPromocion]"
                                       value="{{ -k }}"/>
                                {# Select de marcas segun categoria de promocion#}
                                <td class="botonera_central">
                                    <select id='{{ idNumPro }}_marca_promo_gen_{{ -k }}'
                                            name="promocion[{{ idNumPro }}][genericas][{{ -k }}][marca]"
                                            class=" izq"
                                            onchange="actualizaProductos('{{ promocion['numPromocion'].idCategoria.idCategoria }}',this.value, '{{ idNumPro }}_producto_promo_gen_{{ -k }}')">
                                        <option value="-1"> {{ "select.marca" | trans }}</option>
                                        {% for marca in promocion['marcas'] %}
                                            <option value="{{ marca.idMarca }}">
                                                {{ marca.nombre }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>

                                {# Select de productos, se actualiza dinamicamente cuando cambia el select de marcas#}
                                <td class="">
                                    <select id='{{ idNumPro }}_producto_promo_gen_{{ -k }}' style="width: auto"
                                            name="promocion[{{ idNumPro }}][genericas][{{ -k }}][producto]"
                                            class=" izq">
                                        <option value="-1"> {{ "select.producto" | trans }}</option>
                                    </select>
                                </td>

                                {# Tipo de promocion #}
                                <td class="botonera_central">
                                    <select name="promocion[{{ idNumPro }}][genericas][{{ -k }}][tipo]"
                                            id="promocion_{{ -k }}_tipo"
                                            class="">
                                        {% for tipo in tipoPromocion %}
                                            <option value="{{ tipo.codigo }}">
                                                {{ tipo.nombre }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="botonera_central">
                                    <input type="hidden" data-promocion="{{ -k~idNumPro }}"
                                           class="filtro-genericas"
                                           name="promocion[{{ idNumPro }}][genericas][{{ -k }}][filtroParse]"
                                           id="parseFiltro_{{ -k~idNumPro }}"
                                           value=""/>
                                </td>

                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            </div>
            </div>


        {% endfor %}
        </form>
        <div class="divSpacerFooter">
            {% include ('RMSegmentoBundle:Default/Buscador:formPopUpBuscadorSegmentos.html.twig') %}
        </div>
    {% endif %}
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#select_categorias').change(function (event) {
                event.preventDefault();
                window.location = $(this).val();
            });


            $('.filtro').each(function (index, elem) {
                $(this).on('change', function (event) {
                    var e = event || window.event;
                    e.preventDefault();
                    addCondicionSegmentoPadre(e.target);
                    calculaPoblacionPromocion(e.target);
                });
            });

            $('.filtro-genericas').each(function () {
                addCondicionSegmentoPadreGenericas(this);
            })

        });

        function verDatosPromocion(idPromo) {
            if (idPromo > -1) {
                var largo = 550;
                var altura = 550;
                var top = (screen.height - altura) / 2;
                var izquierda = (screen.width - largo) / 2;
                {% set nombreVentana = "Promocion" %}
                var camino = "{{ path('campaign_ficha_promocion', {'id_promocion':'111'}) }}";
                camino = camino.replace('111', idPromo);
                var myUrl = camino;
                var nomVentana = '{{ nombreVentana }}';
                var strWindowFeatures = "resizable=yes,scrollbars=yes,status=yes," + "width=" + largo + ",height=" + altura + ",top=" + top + ",left=" + izquierda;
                window.open(myUrl, nomVentana, strWindowFeatures);
            }
        }

        function actualizaProductos(idCategoria, idMarca, object) {
            var combo = document.getElementById(object);
            console.log(object);
            //event.preventDefault(); //cancela el comportamiento por defecto
            var url = "{{ path('campaign_marca_producto_actualizar')}}";
            $.ajax({
                type: "POST",
                url: url,
                data: {'idMarca': idMarca, 'idCategoria': idCategoria},
                complete: function (objeto, exito) {

                    if (exito == "success") {
                        var resultado = JSON.parse(objeto.responseText);

                        $("#" + object).find("option").remove();
                        var op = document.createElement("option");
                        op.text = 'Seleccione';
                        op.value = '-1';
                        combo.appendChild(op);
                        //console.log(options);
                        for (var i = 0; i < resultado.length; i++) {
                            //console.log(objeto);
                            var op = document.createElement("option");
                            op.text = resultado[i]['nombre'];
                            op.value = resultado[i]['id'];

                            combo.appendChild(op);
                        }
                        combo.focus();
                    }
                },
                error: function (objeto, quepaso, otroobj) {
                }
            });

        }

        function addCondicionSegmentoPadre(elem) {
            if (typeof elem === 'undefined') {
                return false;
            }

            var filtro = JSON.parse(elem.value);
            var filtroCompleto = '{"$and": [__CONDICION__,{"ls": {"$in":[{{ objInstancia.idSegmentoComunicacion.idSegmento.idSegmento }}] } }]}';

            filtroCompleto = filtroCompleto.replace('__CONDICION__', filtro.parse);
            filtro.filtroCompleto = filtroCompleto;

            elem.value = JSON.stringify(filtro);
        }

        function addCondicionSegmentoPadreGenericas(elem) {
            if (typeof elem === 'undefined') {
                return false;
            }

            var filtro = '{"$and": [{"ls": {"$in": [{{ objInstancia.idSegmentoComunicacion.idSegmento.idSegmento }}] } } ] }';
            var value = {
                filtroCompleto: filtro
            };

            elem.value = JSON.stringify(value);
        }

        function calculaPoblacionPromocion(elem) {

            var path;
            var idPromocion;
            var condicion;
            var poblacion;
            var nombreFiltro;
            var filtroCompleto;
            var fecha;

            if (typeof elem === 'undefined') {
                return false;
            }

            filtroCompleto = JSON.parse(elem.value);
            idPromocion = elem.dataset.promocion;
            nombreFiltro = elem.dataset.nombrefiltro;
            condicion = filtroCompleto.filtroCompleto;

            if (typeof idPromocion === 'undefined') {
                return false;
            }

            nombreFiltro = document.getElementById(nombreFiltro).value;
            fecha = document.getElementById('fecha_busqueda').value;

            path = '{{ path('mongo_calcula_poblacion') }}';
            $.ajax({
                type: "POST",
                url: path,
                data: {idPromocion: idPromocion, condicion: condicion, fecha_busqueda: fecha},
                complete: function (objeto, exito) {
                    if (exito === 'success') {
                        poblacion = objeto.responseText;
                        document.getElementById('poblacion_' + idPromocion).value = poblacion;
                        guardaCambiosPromocion(idPromocion, poblacion, elem.value, nombreFiltro);
                    }
                }
            });

        }

        function guardaCambiosPromocion(idPromocion, poblacion, condicion, nombreFiltro) {

            var path = '{{ path('campaign_guardar_poblacion') }}';
            $.ajax({
                type: "POST",
                url: path,
                data: {
                    idPromocion: idPromocion,
                    poblacion: poblacion,
                    condicion: condicion,
                    nombreFiltro: nombreFiltro
                },
                complete: function (objeto, exito) {
                    if (exito === 'success') {
                        document.getElementById('poblacion_' + idPromocion).focus();
                        jQuery.jGrowl(JSON.parse(objeto.responseText).mensaje);
                    }
                }
            });
        }

    </script>
    <style>
        table input, table select {
            width: 80%;
        }
    </style>
{% endblock %}
