<h4 class="widgettitle">{{ "campanas" |trans|title}}</h4>

{% import '@RMComunicacion/Instancia/macro_instancias.html.twig' as instancia %}

<table class="table table-bordered responsive">
    <colgroup>
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
        <col class="con0">
        <col class="con1">
    </colgroup>
    <thead>
    <tr>
        <th>{{ "instancia" | trans }}</th>
        <th>{{ "comunicacion" | trans }}</th>
        <th>{{ "segmento" | trans }}</th>
        <th>{{ "fecha.promociones" | trans }}</th>
        <th>{{ "estado" | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if objInstancias == null %}
        <tr>
            <td colspan="30">
                {{ "sin.resultados" | trans }}
            </td>
        </tr>
    {% else %}
        {% for objIns in objInstancias %}
            <tr>
                {% if closing == 1 %}
                    <td><a href="{{ path('campaign_closing_ficha', {'id_categoria': id_categoria, 'id_instancia': objIns.idInstancia}) }}" style="cursor:pointer;">#{{ "%07d" |format(objIns.idInstancia) }}</a></td>
                {% else %}
                    <td><a href="{{ path('campaign_ficha', {'id_categoria': id_categoria,'id_instancia': objIns.idInstancia}) }}" style="cursor:pointer;">#{{ "%07d" |format(objIns.idInstancia)}}</a></td>
                {% endif %}
                <td>{{ objIns.idSegmentoComunicacion.idComunicacion.nombre }}</td>

                <td>{{ objIns.idSegmentoComunicacion.idSegmento.nombre }}</td>
                <td>
                    {% if objIns.fecEjecucion %}{{ objIns.fecEjecucion|date('d/m/Y') }}{% endif %}
                </td>
<<<<<<< HEAD
                <td>{{ instancia.fase(objIns) }}</td>
=======
                <td>
                    {% if  objIns.getFase.codigo == 'cnf' %}
                        {{ "fase.configuracion" | trans }}
                    {% elseif objIns.getFase.codigo == 'ngc' %}
                        {{ "fase.campana" | trans }}
                    {% elseif objIns.getFase.codigo == 'sim' %}
                        {{ "fase.simulacion" | trans }}
                    {% elseif objIns.getFase.codigo == 'cie' %}
                        {{ "fase.cierre" | trans }}
                    {% elseif objIns.getFase.codigo == 'gen' %}
                        {{ "fase.generacion" | trans }}
                    {% elseif objIns.getFase.codigo == 'cnf' %}
                        {{ "fase.confirmacion" | trans }}
                    {% elseif objIns.getFase.codigo == 'fin' %}
                        {{ "fase.finalizada" | trans }}
                    {% endif %}
                </td>
>>>>>>> cb48d9a796bf2536a8def9fa7ee65d0887e61228
            </tr>
        {% endfor %}
    {% endif %}
</table>
