{% extends '::data/base_data.html.twig' %}

{% set idOpcionMenuIzq = 1 %}

{% block title %}
    {{ "Categorías" | trans }}
{% endblock %}

{% block migas %}
    <li><a href="{{ path('data_basic_nivelCategoria') }}"><i class="iconfa-home"></i></a> <span class="separator"></span></li>
    <li>{{ "menu.data.modo_basico" | trans | title }} <span class="separator"></span></li>
    <li>{{ "menu.data.categorias"| trans }}</li>
{% endblock %}

{% block pagetitle %}
    <h5> {{ "cabecera.niveles.categorias" | trans |upper }} </h5>
    <h1> {{ "menu.data.categorias"| trans }} </h1>
{% endblock %}

{% block contenedorPrincipal %}

    {{ form_start(form, {'attr' : {'id': 'formNiveles'}}) }}
        <h4 class="widgettitle">{{ "niveles"|trans|capitalize }}</h4>
        <table class="table table-bordered responsive" data-prototype="{{ ('<tr><td>' ~ form_widget(form.niveles.vars.prototype.asociado) ~ '</td><td>' ~ form_widget(form.niveles.vars.prototype.nombre) ~ '</td></tr>')|e  }}">
            <colgroup>
                <col class="con0" style="text-align: center !important; width: 4%">
                <col class="con1">
            </colgroup>
            <thead>
            <tr>
                <th><input type="checkbox" id="checkTodos" /></th>
                <th>{{ "nivel" | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for nivel in  form.niveles %}
                <tr>
                    <td>{{ form_widget(nivel.asociado, {'attr':{'class' : 'selTodos'}}) }}</td>
                    <td>{{ form_widget(nivel.nombre) }}</td>
                </tr>
            {% else %}
                <tr colspan="2">{{ 'sin.resultados'|trans|title }}</tr>
            {% endfor %}

            </tbody>
        </table>
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#checkTodos').click(function(){
                if ($("#checkTodos").is(':checked')) {
                    $('.selTodos').prop("checked", true);

                } else {
                    $('.selTodos').prop("checked", false);
                }
            });

            $('#formNiveles').on('submit', function(event){
                var e = event || window.event;
                if(confirm("{{ 'mensaje.alerta.asociar.categorias'|trans }}")) {
                    return;
                }

                e.preventDefault();
            });
        });
    </script>
{% endblock %}