{% extends '::pantallaPopUp.html.twig' %}

{% block title %}
    {% if creation == 'new' %}
        {{ "nuevo.recurso" | trans|title }}
    {% endif %}
    {% if creation == 'old' %}
        {{ "editar.recurso" | trans|title }}
    {% endif %}
{% endblock %}

{% block header %}
    <div class="contanier">
        <div class="pageheader">
            <div class="pagetitle">
                <h5>{{ "ficha.de" | trans }} </h5>
                <h1>{{ "Producto" |trans|title}}</h1>

            </div>
        </div>
    </div>
{% endblock header %}


{% block body %}
    <div class="maincontentinner">
    <form id="form" name="form" method="post" enctype="multipart/form-data">
        <h4 class="widgettitle">{{ "info" |trans|title }}</h4>
        {% if selectedProduct %}
            <input type="hidden" id="id_producto" name="id_producto" value="{{ selectedProduct.codSku }}">
        {% else %}
            <input type="hidden" id="id_producto" name="id_producto" value="">
        {% endif %}
        <table class="table">
            <tbody>
            <tr>
                {% if creation == 'new' %}
                    <td>{{ "codigo" | trans }}:</td>
                    <td>
                        <input type="text" name="codigo" value="" class="tam8">
                    </td>
                {% endif %}
                {% if creation == 'old' %}
                    <td>{{ "codigo" | trans }}:</td>
                    <td>
                        {{ selectedProduct.codSku }}
                    </td>
                {% endif %}
            </tr>
            <tr>
                <td>{{ "marca" | trans }}:</td>
                {% if creation == 'new' %}
                    <td>
                        <select id='marca' name='marca' class="tam6 izq">
                            <option value="-1">{{ "select.seleccione" | trans }}</option>
                            {% for objMarca in objMarcas %}
                                <option value="{{ objMarca.idMarca }}"> {{ objMarca.nombre }}</option>
                            {% endfor %}
                        </select>
                    </td>
                {% endif %}
                {% if creation == 'old' %}
                    <td>
                        {{ objMarca.nombre }}
                    </td>
                {% endif %}
            </tr>
            {% if creation == 'new' %}
                <tr>
                    <td>{{ "nombre" | trans }}:</td>
                    <td><input type="text" name="nombre"
                               value="" class="tam8"></td>
                </tr>
            {% endif %}
            {% if creation == 'old' %}
                <tr>
                    <td>{{ "nombre" | trans }}:</td>
                    <td>
                        {{ selectedProduct.nombre }}
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>


        <h4 class="widgettitle">{{ "imagen" |trans|title }}</h4>
        <table class="table">
            <tbody>
            <tr>
                <td>{{ "select.seleccione.imagen" | trans }}:</td>
                <td>
                    <input type="file" name="uploadFile" id="uploadFile" class="tam8">
                </td>
            </tr>
            </tbody>
        </table>

        <table class="margin-center" cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr>
                <td width="100">
                    <button class="btn btn-success"
                            onClick="return guardarProductoImagen(event);"> {{ "boton.aceptar" | trans }}</button>
                </td>
                <td width="100">
                    <button class="btn btn-danger" id="botonCancelar" onClick="window.close();">{{ "boton.cancelar" | trans }}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        function guardarProductoImagen(event) {
            file = $('#uploadFile').val();
            extArray = new Array(".jpeg", ".jpg", ".gif", ".tiff", ".bmp", ".png");
            allowSubmit = false;

            if (file) {
                while (file.indexOf("\\") != -1) file = file.slice(file.indexOf("\\") + 1);
                ext = file.slice(file.indexOf(".")).toLowerCase();
                for (var i = 0; i < extArray.length; i++) {
                    if (extArray[i] == ext) {
                        allowSubmit = true;
                        break;
                    }
                }

                if (allowSubmit) {
                    var tamMega = 1048576;
                    var tamFile = tamMega * 5; //5 Megas
                    var fic = document.getElementById('uploadFile');

                    if (fic.files != undefined) {
                        if (fic.files[0].size > tamFile) {
                            alert("El tamaño de la imagen es demasiado grande.");
                            return false;
                        }
                        else {
                            var data = new FormData($('#form')[0]);
                            {% set crearUrl = url('direct_config_ficha_producto_upload') %};
                            var myUrl = '{{crearUrl}}';
                            $.ajax({
                                type: "POST",
                                url: myUrl,
                                data: data,
                                contentType: 'multipart/form-data',
                                processData: false,
                                contentType: false,
                                cache: false,
                                complete: function (objeto, exito) {
                                    if (exito == "success") {
                                        window.opener.document.getElementById("updateTabla").click();
                                        window.close();
                                        event.preventDefault();
                                    }
                                },
                                error: function (objeto, quepaso, otroobj) {
                                }
                            });
                            event.preventDefault();
                        }
                    }
                    else {
                        return false;
                    }
                }
                else {
                    alert("Usted sólo puede subir archivos con extensiones " + (extArray.join(" ")) + "\nPor favor seleccione un nuevo archivo");
                    return false;
                }
            }
            else {
                window.close();
            }
        }

    </script>
{% endblock %}