<tr>
    <td class="center-all" id="primeraColumnaSeg_{{ objSegmento.getIdVtSegmento() }}">
        <input class="elimSeg" type="checkbox" name="eliminarSeg" value="{{ objSegmento.getIdVtSegmento() }}"/>
    </td>
    <td class="center-all" id="segundaColumnaSeg_{{ objSegmento.getIdVtSegmento() }}">
        <input type="text" name="seg_{{ objSegmento.getIdVtSegmento() }}" style="width: 80%"
               value="Segmento {{ idNuevoSeg }}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td class="center-all" id="columnaGrupo_{{ objGrupo.IdGrupo }}">
        <input class="elimGr" type="checkbox" name="eliminarGrupo" value="{{ objGrupo.getIdGrupo() }}"/><br><br/>
        <input type="button" id="{{ objSegmento.getIdVtSegmento() }}" value="OR"
               title="{{ 'Añade un nuevo grupo' |trans|raw }}" style="cursor:pointer;" class="btn btn-default eleccion">
    </td>
    <td class="vertical-center">
        <input class="elimVar" type="checkbox" name="eliminarVar" value="{{ objIntervalo.getIdIntervalo() }}"/>&nbsp;&nbsp;&nbsp;
        <select style="width: auto" id="var_{{ objIntervalo.getIdIntervalo() }}"
                name="var_{{ objIntervalo.getIdIntervalo() }}">
            {% for objetoVL in objVL %}
                <option value="{{ objetoVL.getIdVil() }}">{{ objetoVL.getNombre() }}</option>
            {% endfor %}
        </select>
        <input type="button" id="{{ objSegmento.IdVtSegmento }}_{{ objGrupo.IdGrupo }}" value="AND"
               title="{{ 'Añade un nuevo intervalo' |trans|raw }}" class="btn btn-default eleccion2 pull-right"
               style="cursor:pointer;">
    </td>
    <td class="vertical-center">
        <input type="text" name="factor_{{ objIntervalo.getIdIntervalo() }}" value="{{ objIntervalo.getFactor() }}"
               class="input-small soloNum" value=""/>
    </td>
    <td class="vertical-center">
        <select name="cond_{{ objIntervalo.getIdIntervalo() }}" class="input-small">
            <option value="1">&lt;</option>
            <option value="2">&lt;=</option>
            <option value="3">=</option>
            <option value="4">&gt;</option>
            <option value="5">&gt;=</option>
        </select>
    </td>
    <td class="vertical-center">
        <input type="text" name="pivote_{{ objIntervalo.getIdIntervalo() }}" class="input-small soloNum obligatorio"
               value="{{ objIntervalo.getPivote() }}"/>
    </td>
</tr>