{% extends '::direct/base_direct.html.twig' %}

{% set idOpcionMenuIzq=2 %}

{% block title %}
    {{ "menu.direct.monitor" |trans|title }}
{% endblock %}


{% block migas %}
    <li><a href="{{ path('direct_homepage') }}"><span class="iconfa-home"></span></a> <span class="separator"></span>
    </li>
    <li><a href="{{ path('direct_monitor') }}">{{ "menu.direct.monitor" |trans|title }}</a> <span
                class="separator"></span></li>
    <li>{{ "instancia" |trans|title }} <span class="separator"></span></li>
    <li>#{{ "%07d" | format(objInstancia.getIdInstancia) }}</li>
{% endblock %}

{% block pagetitle %}
    <h5>{{ "instancia" |trans|title }}</h5>
    <h1>{{ "comunicacion" |trans|title }}  #{{ "%07d" | format(objInstancia.getIdInstancia) }}</h1>
{% endblock pagetitle %}

{% block contenedorPrincipal %}

    <h4 class="widgettitle">{{ "datos" |trans|title }}</h4>
    <div class="mediamgr_head">
        <table>
            <tbody>
            <tr>
                <td class="sinborde" width="5%"><b>{{ "instancia" | trans }}:</b></td>
                <td class="sinborde" width="30%">#{{ "%07d" | format(objInstancia.getIdInstancia) }}</td>
                <td class="sinborde" width="5%"><b>{{ "comunicacion" | trans }}</b>:</td>
                <td class="sinborde"
                    width="35%">{{ objInstancia.getIdSegmentocomunicacion.getIdComunicacion.getNombre }}</td>
                <td class="sinborde" width="10%">{{ "volver.a" | trans }}</td>
                <td class="sinborde textoDerecha">
                    <button class="btn btn-primary"
                            onClick="window.location.href='{{ path('direct_monitor') }}'; return false;">{{ "boton.listado" | trans|title }}</button>
                </td>
            </tr>
            <tr>
                <td class="sinborde"><b>{{ "segmento" | trans }}:</b></td>
                <td class="sinborde">{{ objInstancia.getIdSegmentocomunicacion.getIdSegmento.getNombre }}</td>
                <td class="sinborde"><b>{{ "estado" | trans }}:</td>
                <td class="sinborde">
                    {% if  objInstancia.getFase.codigo == 'cfg' %}
                        {{ "fase.configuracion" | trans }}
                    {% elseif objInstancia.getFase.codigo == 'ngc' %}
                        {{ "fase.campaña" | trans }}
                    {% elseif objInstancia.getFase.codigo == 'sim' %}
                        {{ "fase.simulacion" | trans }}
                    {% elseif objInstancia.getFase.codigo == 'cie' %}
                        {{ "fase.cierre" | trans }}
                    {% elseif objInstancia.getFase.codigo == 'gen' %}
                        {{ "fase.generacion" | trans }}
                    {% elseif objInstancia.getFase.codigo == 'cnf' %}
                        {{ "fase.confirmacion" | trans }}
                    {% elseif objInstancia.getFase.codigo == 'fin' %}
                        {{ "fase.finalizada" | trans }}
                    {% endif %}
                </td>
                {% if preview == '0' %}
                    <td class="sinborde">{{ "tramitar.a" | trans }}</td>
                    <td class="sinborde textoDerecha">
                        {% if  objInstancia.getFase.codigo == 'fin' %}
                            &nbsp;
                        {% else %}
                            <form method="post" id="formTramitar"
                                  action="{{ path('direct_monitor_cambio_fase', {id_instancia: objInstancia.idInstancia} ) }}">

                                {% if  objInstancia.getFase.codigo == 'cfg' %}
                                    <button id="tramitar"
                                            data-numpromociones="{{ numPromocionesCorrecto|default(false) }}"
                                            data-genericas="{{ genericasCorrecto|default(false) }}"
                                            class="btn btn-large btn-warning">
                                        {{ "fase.campaña" | trans }}</button>

                                {% elseif objInstancia.getFase.codigo == 'ngc' %}
                                    <button id="tramitar"
                                            class="btn btn-large btn-warning"
                                            data-disabled="{{ tramitar|default(false)? 'enabled': 'disabled' }}">
                                        {{ "fase.simulacion" | trans }}
                                    </button>
                                {% elseif objInstancia.getFase.codigo == 'sim' %}
                                    <button id="tramitar"
                                            class="btn btn-large btn-warning" {{ tramitar|default(false)? 'enabled': 'disabled' }}>
                                        {{ "fase.cierre" | trans }}
                                    </button>
                                {% elseif objInstancia.getFase.codigo == 'cie' %}
                                    <button id="tramitar" data-rechazadas="{{ tieneRechazadas|default(false)?1:0 }}"
                                            data-pendientes="{{ tramitar? 0:1 }}"
                                            class="btn btn-large btn-warning">
                                        {{ "fase.generacion" | trans }}
                                    </button>
                                {% elseif objInstancia.getFase.codigo == 'gen' %}
                                    <button id="tramitar"
                                            class="btn btn-large btn-warning" {{ tramitar|default(false)? 'enabled': 'disabled' }}>
                                        {{ "fase.confirmacion" | trans }}
                                    </button>
                                {% elseif objInstancia.getFase.codigo == 'cnf' %}
                                    <button id="tramitar"
                                            class="btn btn-large btn-warning" {{ tramitar|default(false)? 'enabled': 'disabled' }}>
                                        {{ "fase.finalizada" | trans }}
                                    </button>
                                {% endif %}

                            </form>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
            </tbody>
        </table>

    </div>

{% endblock %}
