{% extends 'RMComunicacionBundle:Instancia:baseFasesInstancia.html.twig' %}

{% block contenedorPrincipal %}
	{{ parent() }}

    <h4 class="widgettitle">{{ "info" |trans|title}}</h4>

		<div class="mediamgr_head">
            <form name=previewForm id=previewForm action="{{ path('direct_monitor_preview', {'id_instancia': objInstancia.getIdInstancia})}}" method="post">
                <input type="hidden" id="preview" name="preview" value="preview">
                <input type="hidden" id="idSegmento" name="idSegmento" value="preview">
			<table class="table responsive">
				<tbody>
					<tr>
                        <td class="sinborde"> {{ 'modulo.direct.fase.finalizada.comunicaciones.generadas'|trans({'%comunicaciones%' : objInstancia.numComunicaciones|default(0)|localizednumber}) }}</td>
                        <td class="sinborde pull-right"><button class="btn btn-primary">{{ "boton.previsualizar" | trans }}</button></td>
					</tr>
                <tr>
                    <td class="sinborde">{{ '' }}</td>
                    <td class="sinborde pull-right">
                        <a class="btn btn-success" target="_blank" href="{{ path('rm_static.default.descargar_batch', {'id': objInstancia.idInstancia}) }}">
                            {{ "boton.descargar.batch" |trans|title}}
                        </a>
                    </td>
                </tr>
				</tbody>
			</table>
            </form>
		</div>

    <h4 class="widgettitle">{{ "opciones.email" |trans|title}}</h4>
		<div class="mediamgr_head">
	
			<table class="table responsive">
				<tbody>
					<tr>
						<td class="sinborde">
							{{ "modulo.direct.fase.finalizada.envio.estado.titlo" | trans }}:  {{ "modulo.direct.fase.finalizada.envio.estado.en.proceso" |trans|title}}
						</td>					
					</tr>
					<tr>
						<td class="sinborde">						
						</td>					
					</tr>
				</tbody>
			</table>
		</div>



{% endblock %}
