{% extends 'RMComunicacionBundle:Instancia:faseConfiguracionPromo.html.twig' %}

{% block tabcontent %}
    <form name="form" id="form" method="post" action="{{ path("direct_monitor_controlador_fases_guardar", {'id_instancia': objInstancia.idInstancia}) }}">
        <input type="hidden" name="desempate" value="1">


        {% if objGrupoSlots | length == 0 %}
            <div class="bloque_contenido sinborde">
                {{ "mensaje.error.no.gruposlot.configurado" | trans }}
            </div>
        {% elseif criteriosDesempate | length == 0 %}
            <div class="bloque_contenido sinborde">
                {{ "mensaje.error.no.categoria.asociada" | trans }}
            </div>
        {% else %}
            {% set creatividad = 2 %}
            {% for objGS in objGrupoSlots if objGS.tipo != creatividad %}

                <input type="hidden" id="numSlot_{{ objGS.idGrupo }}" name="numSlot_{{ objGS.idGrupo }}" value="{{ objGS.numSlots  }}"/>

                <h4 class="widgettitle">{{ objGS.nombre }} ({{ "numero.slots" | trans }}: {{ objGS.numSlots }})</h4>
                <table class="table table-bordered responsive" >
                    <thead>
                    <tr>
                        <th style="width: 20%;">{{ "numero.slots" | trans }}</th>
                        <th class="">{{ "criterio" | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if criteriosDesempate is defined %}
                        {% set indice = 1  %}
                        {% for criterio in criteriosDesempate %}
                            {% if arrayCriteriosNumSlots[objGS.idGrupo][criterio.codigo] is defined %}
                                <tr>
                                    <td class="botonera_central control-group">
                                        {% set valor = arrayCriteriosNumSlots[objGS.idGrupo][criterio.codigo]  %}
                                        <input value="{{ valor }}" data-grupo="{{ objGS.idGrupo }}" tabindex="{{ indice }}" id="numSlot_{{ objGS.idGrupo }}_{{ criterio.codigo }}" name="numSlot_{{ objGS.idGrupo }}_{{ criterio.codigo }}" class="tam5 botonera_central soloNum suma suma_{{ objGS.idGrupo }}" type="text"/>
                                    </td>
                                    <td>
                                        {{ criterio.nombre }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="botonera_central control-group">
                                        <input value="" tabindex="{{ indice }}" data-grupo="{{ objGS.idGrupo }}" id="numSlot_{{ objGS.idGrupo }}_{{ criterio.codigo }}" name="numSlot_{{ objGS.idGrupo }}_{{ criterio.codigo }}" class="tam5 botonera_central soloNum suma suma_{{ objGS.idGrupo }}" type="text" placeholder="0"/>
                                    </td>
                                    <td>
                                        {{ criterio.nombre }}
                                    </td>
                                </tr>
                            {% endif %}

                            {% set indice = indice +1 %}
                        {% endfor  %}
                    {% endif %}
                    </tbody>
                </table>
                <div id="alert_{{ objGS.idGrupo }}" class="alert alert-danger hidden">
                    <p></p>
                </div>
            {% endfor %}
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td width="100"><button type="submit" class="btn btn-primary">{{ "boton.guardar" |trans }}</button></td>
                </tr>
                </tbody>
            </table>
        {% endif %}
    </form>
{% endblock tabcontent %}

{% block javascripts %}
    {{ parent() }}
    <script>

        function suma(event) {
            var e = event || window.event;
            var idGrupo = e.target.dataset.grupo;
            var idNumSlots = 'numSlot_' + idGrupo ;
            var numSlots = parseInt(document.getElementById(idNumSlots).value, 10);
            var input_suma = document.getElementsByClassName('suma_'+ idGrupo );
            var suma = 0;

            [].forEach.call(input_suma, function(elem){
                suma += isNaN(parseInt(elem.value,10))? 0: parseInt(elem.value,10);
            });

            compruebaNumSlot(suma,numSlots, idGrupo);
        }

        function compruebaNumSlot(suma, numSlots, idGrupo) {

            var boton = document.querySelector('button[type=submit]');
            var alerta =  document.getElementById('alert_'+idGrupo);

            if( suma > numSlots ) {
                //se deshabilita el boton para que no pueda enviarse el formulario y se marca en rojo
                [].forEach.call(document.getElementsByClassName('suma_'+idGrupo), function(elem){
                    elem.parentNode.classList.remove('success');
                    elem.parentNode.classList.add('error');
                });

                var mensaje = '{{ 'mensaje.error.limite.numslots'|trans }}';

                alerta.getElementsByTagName('p')[0].innerHTML = mensaje;
                alerta.classList.remove('hidden');
                boton.disabled = true;
            }

            if(suma === numSlots)
            {
                [].forEach.call(document.getElementsByClassName('suma_'+idGrupo), function(elem){
                    elem.parentNode.classList.remove('error');
                    elem.parentNode.classList.add('success');
                });
                alerta.classList.add('hidden');
                boton.disabled = false;
            }

            if(suma < numSlots) {
                [].forEach.call(document.getElementsByClassName('suma_'+idGrupo), function(elem){
                    elem.parentNode.classList.remove('error');
                    elem.parentNode.classList.remove('success');
                });
                alerta.classList.add('hidden');
                boton.disabled = false;
            }
        }

        $(document).ready(function(){
            [].forEach.call(document.getElementsByClassName('suma'), function(elem){
                elem.addEventListener('change', suma);
                elem.addEventListener('keyup', suma);
            });
        });




    </script>
{% endblock javascripts %}

