{% extends '::direct/base_direct.html.twig' %}

{% block title %}
	{{ "menu.direct.monitor" | trans |title }}
{% endblock %}


{% block migas %}
    <li><a href="{{ path('direct_homepage') }}"> <span class="iconfa-home"></span></a> <span class="separator"></span></li>
    <li>{{ "menu.direct.monitor" |trans|title }}</li>
{% endblock %}

{% block pagetitle %}
    <h5>{{ "monitor.de"|trans|upper }}</h5>
    <h1>{{ "comunicaciones"|trans|title }}</h1>
{% endblock %}


{% block contenedorPrincipal %}

	<form id="form" name="form" >
		<input type="hidden" name="page" id="page" value="1">
        <h4 class="widgettitle">{{ "filtro.busqueda"|trans|capitalize }}</h4>
        <div class="mediamgr_left">
            <div class="mediamgr_head">
                <ul class="mediamgr_menu">
                    <li>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td width="300">
                                    <label for="id_comunicacion">{{ "comunicacion" |trans|title }}</label>
                                    <select id="id_comunicacion" name="id_comunicacion" class=" ">
                                        <option value="-1" selected>{{ "select.todas"|trans }}</option>
                                        {% for objComunicacion in objComunicaciones %}
                                            <option value="{{ objComunicacion.idComunicacion }}"
                                                    {% if objComunicacion.idComunicacion == id_comunicacion%}
                                            selected
                                                    {% endif %}>
                                                {{ objComunicacion.nombre }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>

                                <td width="300">
                                    <label for="id_segmento">{{ "segmento" |trans|title }}</label>
                                    <select id="id_segmento" name="id_segmento" class=" ">
                                        <option value="-1" selected>{{ "select.todas" | trans }}</option>
                                        {% for objSeg in objSegmentos %}
                                            <option value="{{ objSeg.idSegmento }}" {% if objSeg.idSegmento == id_segmento%}selected{% endif %}>{{ objSeg.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </td>

                                <td width="300">
                                    <label for="fase">{{ "instancia.fase" |trans|title }}</label>
                                    <select id="fase" name="fase" class=" ">
                                        <option value="-1" {% if -1 == fase%}selected{% endif %}>{{ 'select.todas'|trans }}</option>
                                        {% if fases is defined and fases != null %}
                                            {% for objFase in fases %}
                                                <option value="{{ objFase.id }}" {% if objFase.id == fase%}selected{% endif %}>{{ objFase.id ~' - '~ objFase.codigo|trans }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </td>

                                <td>
                                    <p>
                                        <label for="fecha_inicio">{{ "fecha.entre"|trans|capitalize }}&nbsp;:</label>
                                        <input type="text" name="fecha_inicio" id="fecha_inicio" class="datepicker " value="" placeholder="{{ "fecha.inicial"|trans }}"/>
                                        &nbsp;{{ "y" | trans }}&nbsp;
                                        <input type="text" name="fecha_fin" id="fecha_fin" class="datepicker " value="" placeholder="{{ "fecha.final"|trans }}" />
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="right newfilebtn">
                        <button class="btn btn-primary actualizarTabla">{{ "boton.buscar"|trans }}</button>
                    </li>
                </ul>
            </div>
        </div>
		
		<div id="tablaListado">
			{% include '@RMComunicacion/Instancia/listadoInstancias.html.twig' with {'objInstancias' : objInstancias} %}
		</div>
	</form>

	
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		function getURLVar(urlStr,urlVarName) {
		    var urlHalves = urlStr.split('?');
		    var urlVarValue = '';
		    if(urlHalves[1]) {
		        var urlVars = urlHalves[1].split('&');
		        for(var i=0; i<=(urlVars.length); i++){
		            if(urlVars[i]){
		                var urlVarPair = urlVars[i].split('=');
		                if (urlVarPair[0] && urlVarPair[0] == urlVarName) {
	
		                    urlVarValue = urlVarPair[1];
		                    break;
		                }
		            }
		        }
		    }
		    return urlVarValue
		}

		$(document).ready(function(){
			$('#checkTodos').on("change", function() {
				if ($("#checkTodos").is(':checked')) {
					$('.selTodos').prop("checked", true);

		        } else {
		        	$('.selTodos').prop("checked", false);
		        }
			});

			
			$('.actualizarTabla').click(function(event){
				event.preventDefault(); //cancela el comportamiento por defecto
				var msg = $("#form").serialize();
				{% set crearUrl = url('direct_monitor_actualizar') %}
				var myUrl = '{{crearUrl}}';
				$.ajax({  
				  type: "POST",  
				  url: myUrl,
				  data: msg,  
				  complete: function(objeto, exito){
					if(exito=="success"){
                        var $tabla = $('#tablaListado');
						$tabla.children().remove();
                        $tabla.append(objeto.responseText);
		            }
		          },
				  error: function(objeto, quepaso, otroobj){		            
		          }
				}); 
			});

			$('.paginate ul li a').on("click", function(event) {
				event.preventDefault(); //cancela el comportamiento por defecto
				$("#page").val(getURLVar($(this).attr("href"),"page"));

				var msg = $("#form").serialize();
				{% set crearUrl = url('direct_monitor_actualizar') %}
				var myUrl = '{{crearUrl}}';
				$.ajax({  
				  type: "POST",  
				  url: myUrl,
				  data: msg,  
				  complete: function(objeto, exito){
					if(exito=="success"){
						$("#page").val("1");
                        var $tabla = $('#tablaListado');
                        $tabla.children().remove();
                        $tabla.append(objeto.responseText);
		            }
		          },
				  error: function(objeto, quepaso, otroobj){		            
		          }
				});
				
				
				
			});

			$(document).ready(function(){
				$( ".datepicker" ).datepicker({ dateFormat: "mm/dd/yy" });
			});

		});
	</script>
{% endblock %}